In [1]:
import numpy as np
import pandas as pd

In [2]:
df_ball = pd.read_csv('data/IPL_Ball_by_Ball_2008_2022.csv')
df_matches = pd.read_csv('data/ipl-matches.csv')

In [3]:
df_ball.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
df_matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [5]:
total_teams = df_ball['BattingTeam'].unique().tolist()
#total_teams = list(set(df_ball['BattingTeam']))

total_teams

['Rajasthan Royals',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Lucknow Super Giants',
 'Sunrisers Hyderabad',
 'Punjab Kings',
 'Delhi Capitals',
 'Mumbai Indians',
 'Chennai Super Kings',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Rising Pune Supergiant',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Pune Warriors',
 'Deccan Chargers',
 'Kochi Tuskers Kerala']

In [6]:
# another way of getting total teams

list(df_matches['Team1']) + list(df_matches['Team2'])

set(list(df_matches['Team1']) + list(df_matches['Team2']))

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad'}

In [7]:
df_matches[df_matches['Team1']=='Rajasthan Royals']
df_matches[df_matches['Team2']=='Rajasthan Royals']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
22,1304098,Mumbai,2022-05-07,2022,52,Punjab Kings,Rajasthan Royals,"Wankhede Stadium, Mumbai",Punjab Kings,bat,N,Rajasthan Royals,Wickets,6.0,NaN,YBK Jaiswal,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",Chirra Ravikanthreddy,YC Barde
50,1304070,Mumbai,2022-04-14,2022,24,Gujarat Titans,Rajasthan Royals,"Dr DY Patil Sports Academy, Mumbai",Rajasthan Royals,field,N,Gujarat Titans,Runs,37.0,NaN,HH Pandya,"['MS Wade', 'Shubman Gill', 'V Shankar', 'HH P...","['JC Buttler', 'D Padikkal', 'R Ashwin', 'SV S...",CB Gaffaney,R Pandit
80,1254106,Sharjah,2021-10-07,2021,54,Kolkata Knight Riders,Rajasthan Royals,Sharjah Cricket Stadium,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,86.0,NaN,Shivam Mavi,"['Shubman Gill', 'VR Iyer', 'N Rana', 'RA Trip...","['YBK Jaiswal', 'LS Livingstone', 'SV Samson',...",MA Gough,HAS Khalid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,336027,Kolkata,2008-05-20,2007/08,44,Kolkata Knight Riders,Rajasthan Royals,Eden Gardens,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,6.0,NaN,YK Pathan,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['GC Smith', 'SA Asnodkar', 'Sohail Tanvir', '...",BG Jerling,RE Koertzen
923,336008,Mumbai,2008-05-07,2007/08,27,Mumbai Indians,Rajasthan Royals,Dr DY Patil Sports Academy,Mumbai Indians,field,N,Mumbai Indians,Wickets,7.0,NaN,A Nehra,"['YV Takawale', 'ST Jayasuriya', 'RV Uthappa',...","['GC Smith', 'SA Asnodkar', 'YK Pathan', 'SR W...",DJ Harper,RE Koertzen
939,335992,Bangalore,2008-04-26,2007/08,12,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,SR Watson,"['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...","['GC Smith', 'M Rawat', 'YK Pathan', 'SR Watso...",MR Benson,IL Howell
941,335990,Hyderabad,2008-04-24,2007/08,9,Deccan Chargers,Rajasthan Royals,"Rajiv Gandhi International Stadium, Uppal",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,YK Pathan,"['AC Gilchrist', 'VVS Laxman', 'Shahid Afridi'...","['Kamran Akmal', 'GC Smith', 'YK Pathan', 'SR ...",Asad Rauf,MR Benson
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar

In [8]:
import ast
ast.literal_eval(df_matches['Team1Players'][0])

['YBK Jaiswal',
 'JC Buttler',
 'SV Samson',
 'D Padikkal',
 'SO Hetmyer',
 'R Ashwin',
 'R Parag',
 'TA Boult',
 'OC McCoy',
 'M Prasidh Krishna',
 'YS Chahal']

In [9]:
type(df_matches['Team1Players'][0])

str

In [10]:
import ast

df_matches['Team1Players'] = df_matches['Team1Players'].apply(lambda x: ast.literal_eval(x))
df_matches['Team2Players'] = df_matches['Team2Players'].apply(lambda x: ast.literal_eval(x))

In [11]:
df_matches[df_matches['Team1']=='Rajasthan Royals']['Team1Players'][0]

['YBK Jaiswal',
 'JC Buttler',
 'SV Samson',
 'D Padikkal',
 'SO Hetmyer',
 'R Ashwin',
 'R Parag',
 'TA Boult',
 'OC McCoy',
 'M Prasidh Krishna',
 'YS Chahal']

In [12]:
players=[]
for series in df_matches[df_matches['Team1']=='Rajasthan Royals']['Team1Players']:
    for i in range(len(series)):
        if series[i] not in players:
            players.append(series[i])
len(players)

114

In [88]:
def teamwise_players_played1(team_name):
    players=[]
    for series in df_matches[df_matches['Team1']==team_name]['Team1Players']:
        for i in range(len(series)):
            if series[i] not in players:
                players.append(series[i])


    for series in df_matches[df_matches['Team2']==team_name]['Team2Players']:
        for i in range(len(series)):
            if series[i] not in players:
                players.append(series[i])            

    return {'players':players}

In [89]:
teamwise_players_played1('Rajasthan Royals')
len(teamwise_players_played1('Rajasthan Royals')['players'])

137

In [92]:
# another way of getting players

def teamwise_players_played(team_name):
    players = []
    for item in df_matches[df_matches['Team1']==team_name]['Team1Players']:
        players.extend(item)

    for item in df_matches[df_matches['Team2']==team_name]['Team2Players']:
        players.extend(item)

    players = list(set(players))
    return {'players':players}

In [93]:
teamwise_players_played('Rajasthan Royals')
len(teamwise_players_played('Rajasthan Royals')['players'])

137

In [17]:
set(list(df_matches['Team1']) + list(df_matches['Team2']))

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad'}

In [18]:
len(set(list(df_matches['Team1']) + list(df_matches['Team2'])))

18

In [19]:
df_matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[WP Saha, Shubman Gill, MS Wade, HH Pandya, DA...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,Nitin Menon

In [20]:
team1='Rajasthan Royals'
team2='Gujarat Titans'

(df_matches['Team1']==team1) | (df_matches['Team2']==team1)

df_matches[(df_matches['Team1']==team1) | (df_matches['Team2']==team1)]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[WP Saha, Shubman Gill, MS Wade, HH Pandya, DA...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,Nitin Menon
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[WP Saha, Shubman Gill, MS Wade, HH Pandya, DA...",BNJ Oxenford,VK Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"[RD Gaikwad, DP Conway, MM Ali, N Jagadeesan, ...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,NA Patwardhan
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[Q de Kock, KL Rahul, A Badoni, DJ Hooda, KH P...",PG Pathak,Tapan Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,336000,Jaipur,2008-05-01,2007/08,18,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Rajasthan Royals,bat,N,Rajasthan Royals,Runs,45.0,NaN,SA Asnodkar,"[GC Smith, SA Asnodkar, M Kaif, YK Pathan, SR ...","[Salman Butt, SC Ganguly, AB Agarkar, BJ Hodge...",RE Koertzen,GA Pratapkumar
939,335992,Bangalore,2008-04-26,2007/08,12,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,SR Watson,"[S Chanderpaul, R Dravid, LRPL Taylor, JH Kall...","[GC Smith, M Rawat, YK Pathan, SR Watson, M Ka...",MR Benson,IL Howell
941,335990,Hyderabad,2008-04-24,2007/08,9,Deccan Chargers,Rajasthan Royals,"Rajiv Gandhi International Stadium, Uppal",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,YK Pathan,"[AC Gilchrist, VVS Laxman, Shahid Afridi, A Sy...","[Kamran Akmal, GC Smith, YK Pathan, SR Watson,...",Asad Rauf,MR Benson
944,335987,Jaipur,2008-04-21,2007/08,6,Rajasthan Royals,Kings XI Punjab,Sawai Mansingh Stadium,Kings XI Punjab,bat,N,Rajasthan Royals,Wickets,6.0,NaN,SR Watson,"[M Kaif, Kamran Akmal, YK Pathan, SR Watson, D...","[K Goel, JR Hopes, KC Sangakkara, DPMD Jayawar...",Aleem Dar,RB Tiffin
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"[G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD ...","[T Kohli, YK Pathan, SR Watson, M Kaif, DS Leh...",Aleem Dar,GA Pratapkumar

In [21]:
temp_df = df_matches[(df_matches['Team1']==team1) | (df_matches['Team2']==team1)]
temp_df['WinningTeam']==team1
temp_df[temp_df['WinningTeam']==team1]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,Nitin Menon
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"[RD Gaikwad, DP Conway, MM Ali, N Jagadeesan, ...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,NA Patwardhan
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[Q de Kock, KL Rahul, A Badoni, DJ Hooda, KH P...",PG Pathak,Tapan Sharma
22,1304098,Mumbai,2022-05-07,2022,52,Punjab Kings,Rajasthan Royals,"Wankhede Stadium, Mumbai",Punjab Kings,bat,N,Rajasthan Royals,Wickets,6.0,NaN,YBK Jaiswal,"[JM Bairstow, S Dhawan, PBB Rajapaksa, MA Agar...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",Chirra Ravikanthreddy,YC Barde
35,1304085,Pune,2022-04-26,2022,39,Rajasthan Royals,Royal Challengers Bangalore,"Maharashtra Cricket Association Stadium, Pune",Royal Challengers Bangalore,field,N,Rajasthan Royals,Runs,29.0,NaN,R Parag,"[JC Buttler, D Padikkal, R Ashwin, SV Samson, ...","[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...",BNJ Oxenford,KN Ananthapadmanabhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926,336005,Jaipur,2008-05-04,2007/08,24,Rajasthan Royals,Chennai Super Kings,Sawai Mansingh Stadium,Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,8.0,NaN,Sohail Tanvir,"[GC Smith, SA Asnodkar, YK Pathan, SR Watson, ...","[PA Patel, SP Fleming, S Vidyut, SK Raina, S B...",Asad Rauf,AV Jayaprakash
931,336000,Jaipur,2008-05-01,2007/08,18,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Rajasthan Royals,bat,N,Rajasthan Royals,Runs,45.0,NaN,SA Asnodkar,"[GC Smith, SA Asnodkar, M Kaif, YK Pathan, SR ...","[Salman Butt, SC Ganguly, AB Agarkar, BJ Hodge...",RE Koertzen,GA Pratapkumar
939,335992,Bangalore,2008-04-26,2007/08,12,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,SR Watson,"[S Chanderpaul, R Dravid, LRPL Taylor, JH Kall...","[GC Smith, M Rawat, YK Pathan, SR Watson, M Ka...",MR Benson,IL Howell
941,335990,Hyderabad,2008-04-24,2007/08,9,Deccan Chargers,Rajasthan Royals,"Rajiv Gandhi International Stadium, Uppal",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,YK Pathan,"[AC Gilchrist, VVS Laxman, Shahid Afridi, A Sy...","[Kamran Akmal, GC Smith, YK Pathan, SR Watson,...",Asad Rauf,MR Benson
944,335987,Jaipur,2008-04-21,2007/08,6,Rajasthan Royals,Kings XI Punjab,Sawai Mansingh Stadium,Kings XI Punjab,bat,N,Rajasthan Royals,Wickets,6.0,NaN,SR Watson,"[M Kaif, Kamran Akmal, YK Pathan, SR Watson, D...","[K Goel, JR Hopes, KC Sangakkara, DPMD Jayawar...",Aleem Dar,RB Tiffin

In [300]:
def number_of_winnings(team):
    temp_df = df_matches[(df_matches['Team1']==team) | (df_matches['Team2']==team)]
    total = len(temp_df)
    won = len(temp_df[temp_df['WinningTeam']==team])
    return {
        'total matches played':str(total),
        'number of winnings': str(won)
    }

In [301]:
number_of_winnings('Rajasthan Royals')

{'total matches played': '192', 'number of winnings': '96'}

In [24]:
df_matches['WinningTeam'].value_counts()

Mumbai Indians                 131
Chennai Super Kings            121
Kolkata Knight Riders          114
Royal Challengers Bangalore    109
Rajasthan Royals                96
Kings XI Punjab                 88
Sunrisers Hyderabad             75
Delhi Daredevils                67
Delhi Capitals                  36
Deccan Chargers                 29
Gujarat Lions                   13
Punjab Kings                    13
Pune Warriors                   12
Gujarat Titans                  12
Rising Pune Supergiant          10
Lucknow Super Giants             9
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: WinningTeam, dtype: int64

In [25]:
{'winning details of all teams': {key: value for key, value in zip(df_matches['WinningTeam'].value_counts().index, df_matches['WinningTeam'].value_counts().values)}}

{'winning details of all teams': {'Mumbai Indians': 131,
  'Chennai Super Kings': 121,
  'Kolkata Knight Riders': 114,
  'Royal Challengers Bangalore': 109,
  'Rajasthan Royals': 96,
  'Kings XI Punjab': 88,
  'Sunrisers Hyderabad': 75,
  'Delhi Daredevils': 67,
  'Delhi Capitals': 36,
  'Deccan Chargers': 29,
  'Gujarat Lions': 13,
  'Punjab Kings': 13,
  'Pune Warriors': 12,
  'Gujarat Titans': 12,
  'Rising Pune Supergiant': 10,
  'Lucknow Super Giants': 9,
  'Kochi Tuskers Kerala': 6,
  'Rising Pune Supergiants': 5}}

In [26]:
def winning_details_all_team():
    temp_series = df_matches['WinningTeam'].value_counts()
    winning_details = {'winning details of all teams': {key: value for key, value in zip(temp_series.index, temp_series.values)}}
    return winning_details

In [27]:
winning_details_all_team()

{'winning details of all teams': {'Mumbai Indians': 131,
  'Chennai Super Kings': 121,
  'Kolkata Knight Riders': 114,
  'Royal Challengers Bangalore': 109,
  'Rajasthan Royals': 96,
  'Kings XI Punjab': 88,
  'Sunrisers Hyderabad': 75,
  'Delhi Daredevils': 67,
  'Delhi Capitals': 36,
  'Deccan Chargers': 29,
  'Gujarat Lions': 13,
  'Punjab Kings': 13,
  'Pune Warriors': 12,
  'Gujarat Titans': 12,
  'Rising Pune Supergiant': 10,
  'Lucknow Super Giants': 9,
  'Kochi Tuskers Kerala': 6,
  'Rising Pune Supergiants': 5}}

In [28]:
df_matches['WinningTeam'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 950 entries, 0 to 949
Series name: WinningTeam
Non-Null Count  Dtype
--------------  -----
946 non-null    object
dtypes: object(1)
memory usage: 7.5+ KB

In [29]:
df_matches[pd.isna(df_matches['WinningTeam'])]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, AB de Villiers, MP Stoinis, H Klaase...","[SV Samson, LS Livingstone, AM Rahane, SPD Smi...",NJ Llong,UV Gandhe
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, CH Gayle, AB de Villiers, Mandeep Si...","[Q de Kock, SS Iyer, JP Duminy, Yuvraj Singh, ...",HDPK Dharmasena,K Srinivasan
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[CH Gayle, V Kohli, AB de Villiers, Mandeep Si...","[AM Rahane, SR Watson, SPD Smith, KK Nair, SV ...",JD Cloete,PG Pathak
708,501265,Delhi,2011-05-21,2011,68,Delhi Daredevils,Pune Warriors,Feroz Shah Kotla,Delhi Daredevils,bat,NaN,NaN,NoResults,NaN,NaN,NaN,"[NV Ojha, DA Warner, MS Wade, CA Ingram, Y Ven...","[MK Pandey, JP Faulkner, SC Ganguly, RV Uthapp...",SS Hazare,RJ Tucker

In [30]:
df_matches[df_matches['WonBy']=='NoResults']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, AB de Villiers, MP Stoinis, H Klaase...","[SV Samson, LS Livingstone, AM Rahane, SPD Smi...",NJ Llong,UV Gandhe
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, CH Gayle, AB de Villiers, Mandeep Si...","[Q de Kock, SS Iyer, JP Duminy, Yuvraj Singh, ...",HDPK Dharmasena,K Srinivasan
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[CH Gayle, V Kohli, AB de Villiers, Mandeep Si...","[AM Rahane, SR Watson, SPD Smith, KK Nair, SV ...",JD Cloete,PG Pathak
708,501265,Delhi,2011-05-21,2011,68,Delhi Daredevils,Pune Warriors,Feroz Shah Kotla,Delhi Daredevils,bat,NaN,NaN,NoResults,NaN,NaN,NaN,"[NV Ojha, DA Warner, MS Wade, CA Ingram, Y Ven...","[MK Pandey, JP Faulkner, SC Ganguly, RV Uthapp...",SS Hazare,RJ Tucker

In [31]:
df_matches['WonBy'].value_counts()

Wickets      509
Runs         423
SuperOver     14
NoResults      4
Name: WonBy, dtype: int64

### team1 Vs team2

In [105]:
team1='Kolkata Knight Riders'
team2='Kochi Tuskers Kerala'

(df_matches['Team1']==team1) | (df_matches['Team2']==team1)

temp_df = df_matches[((df_matches['Team1']==team1) & (df_matches['Team2']==team2)) | (df_matches['Team1']==team2) & (df_matches['Team2']==team1)]
temp_df['WinningTeam'].value_counts()

Kochi Tuskers Kerala    2
Name: WinningTeam, dtype: int64

In [106]:
len(temp_df)

2

In [108]:
try:
    temp_df['WinningTeam'].value_counts()['Kolkata Knight Riders']
except KeyError:
    print('KeyError')

KeyError

In [311]:
# team_vs_team winnings record

def team_vs_team(team1,team2):
    
    temp_df = df_matches[((df_matches['Team1']==team1) & (df_matches['Team2']==team2)) | (df_matches['Team1']==team2) & (df_matches['Team2']==team1)]

    total_matches = len(temp_df) 
    
    matches_won_team1 = sum(temp_df['WinningTeam']==team1)
    matches_won_team2 = sum(temp_df['WinningTeam']==team2)

    draws = total_matches - (matches_won_team1 + matches_won_team2)
    return {
        'total_matches': str(total_matches),
        'winnnings':{team1: str(matches_won_team1), team2: str(matches_won_team2)},
        'draws': str(draws)
    }

In [312]:
team_vs_team('Kochi Tuskers Kerala','Kolkata Knight Riders')

{'total_matches': '2',
 'winnnings': {'Kochi Tuskers Kerala': '2', 'Kolkata Knight Riders': '0'},
 'draws': '0'}

In [100]:
list(set(df_ball['BattingTeam']))

['Pune Warriors',
 'Delhi Capitals',
 'Gujarat Titans',
 'Sunrisers Hyderabad',
 'Lucknow Super Giants',
 'Delhi Daredevils',
 'Rajasthan Royals',
 'Chennai Super Kings',
 'Kings XI Punjab',
 'Gujarat Lions',
 'Royal Challengers Bangalore',
 'Rising Pune Supergiant',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Punjab Kings',
 'Rising Pune Supergiants']

### Bowler Record

In [35]:
winning_details_all_team()

{'winning details of all teams': {'Mumbai Indians': 131,
  'Chennai Super Kings': 121,
  'Kolkata Knight Riders': 114,
  'Royal Challengers Bangalore': 109,
  'Rajasthan Royals': 96,
  'Kings XI Punjab': 88,
  'Sunrisers Hyderabad': 75,
  'Delhi Daredevils': 67,
  'Delhi Capitals': 36,
  'Deccan Chargers': 29,
  'Gujarat Lions': 13,
  'Punjab Kings': 13,
  'Pune Warriors': 12,
  'Gujarat Titans': 12,
  'Rising Pune Supergiant': 10,
  'Lucknow Super Giants': 9,
  'Kochi Tuskers Kerala': 6,
  'Rising Pune Supergiants': 5}}

In [36]:
df_ball

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [249]:

all_bowlers = list(set(df_ball['bowler'].tolist()))

In [38]:
# merging two dataframes
ball_match = df_matches.merge(df_ball,on='ID')
ball_match['Date'] = pd.to_datetime(ball_match['Date'])
ball_match

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [39]:
ball_match.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [40]:
temp_df = ball_match[ball_match['bowler'] == 'Mohammed Shami']
temp_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147743,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147744,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147745,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147746,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
147747,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [41]:
total_run_against_bowler = temp_df.groupby('ID')['batsman_run'].sum().reset_index()
total_run_against_bowler

         ID  batsman_run
0    598005           26
1    598034           19
2    598069           26
3    729281           28
4    729289           24
..      ...          ...
88  1304103            4
89  1304108           19
90  1304113           18
91  1312197           37
92  1312200           33

[93 rows x 2 columns]

In [42]:
unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()
unique_combinations

             ID       Date                  BattingTeam
0       1312200 2022-05-29             Rajasthan Royals
725     1312197 2022-05-24             Rajasthan Royals
1813    1304113 2022-05-19  Royal Challengers Bangalore
2932    1304108 2022-05-15          Chennai Super Kings
4242    1304103 2022-05-10         Lucknow Super Giants
...         ...        ...                          ...
129960   729289 2014-04-19        Kolkata Knight Riders
131061   729281 2014-04-17  Royal Challengers Bangalore
132538   598069 2013-05-19          Sunrisers Hyderabad
140182   598034 2013-04-28          Chennai Super Kings
147664   598005 2013-04-08             Rajasthan Royals

[93 rows x 3 columns]

In [43]:
bowler_run_record = unique_combinations.merge(total_run_against_bowler,on='ID')
bowler_run_record['year'] = bowler_run_record['Date'].dt.year
bowler_run_record

         ID       Date                  BattingTeam  batsman_run  year
0   1312200 2022-05-29             Rajasthan Royals           33  2022
1   1312197 2022-05-24             Rajasthan Royals           37  2022
2   1304113 2022-05-19  Royal Challengers Bangalore           18  2022
3   1304108 2022-05-15          Chennai Super Kings           19  2022
4   1304103 2022-05-10         Lucknow Super Giants            4  2022
..      ...        ...                          ...          ...   ...
88   729289 2014-04-19        Kolkata Knight Riders           24  2014
89   729281 2014-04-17  Royal Challengers Bangalore           28  2014
90   598069 2013-05-19          Sunrisers Hyderabad           26  2013
91   598034 2013-04-28          Chennai Super Kings           19  2013
92   598005 2013-04-08             Rajasthan Royals           26  2013

[93 rows x 5 columns]

In [118]:
#bowler_run_record[['BattingTeam', 'year']].value_counts()

In [45]:
# write this type of dictionary from the `bowler_run_record` dataframe

{
    '2021':  {
        'team1':{
            'date1': 22,
            'date2':29
        },
        
        'team2':{
            'date1': 22,
            'date2':29
        }
    },
    
    '2022':  {
        'team1':{
            'date1': 20,
            'date2':30
        },
        
        'team2':{
            'date1': 22,
            'date2':29
        }
    }
}

{'2021': {'team1': {'date1': 22, 'date2': 29},
  'team2': {'date1': 22, 'date2': 29}},
 '2022': {'team1': {'date1': 20, 'date2': 30},
  'team2': {'date1': 22, 'date2': 29}}}

In [46]:
unique_combinations.merge(total_run_against_bowler,on='ID')['batsman_run']

0     33
1     37
2     18
3     19
4      4
      ..
88    24
89    28
90    26
91    19
92    26
Name: batsman_run, Length: 93, dtype: int64

In [47]:
bowler_run_record['batsman_run'].max()
bowler_run_record['batsman_run'].min()
bowler_run_record['batsman_run'].mean()

29.9247311827957

In [48]:
grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
for year, group in grouped_by_year:
    #print(group)
    group_by_team = group.groupby('BattingTeam')
    for team, team_group in group_by_team:
        #print(team_group)
        #print(team_group['batsman_run'])
        group_by_date = team_group.groupby('Date')   
        for date, date_group in group_by_date:
            total_runs = date_group['batsman_run'].sum()
            #print(date_group)
            #print(total_runs)
            pass

In [49]:
bowler_run_record['Date'][0].date()

datetime.date(2022, 5, 29)

In [50]:
def format_bowler_run_record():
    formatted_record = {}
    
    # Group the data by year
    grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
    
    for year, group in grouped_by_year:
        formatted_record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            formatted_record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                formatted_record[str(year)][team][str(date.date())] = total_runs
    
    return formatted_record

In [51]:
#format_bowler_run_record()

In [52]:
## create a function for bowler-run-record all together 

def bowler_record(bowler_name):
    
    temp_df = ball_match[ball_match['bowler'] == bowler_name]
    
    total_run_against_bowler = temp_df.groupby('ID')['batsman_run'].sum().reset_index()
    
    unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()

    bowler_run_record = unique_combinations.merge(total_run_against_bowler,on='ID')
    bowler_run_record['year'] = bowler_run_record['Date'].dt.year

    record = {}
    
    # Group the data by year
    grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
    
    for year, group in grouped_by_year:
        record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                record[str(year)][team][str(date.date())] = str(total_runs)
    
    return record

In [53]:
bowler_run_record['batsman_run'].max()
bowler_run_record['batsman_run'].min()
bowler_run_record['batsman_run'].mean()

29.9247311827957

In [54]:
bowler_run_record['batsman_run'].min()

4

In [55]:
#bowler_record('Mohammed Shami')

In [56]:
temp_df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [57]:
temp_df['isWicketDelivery'].value_counts()

0    2002
1     116
Name: isWicketDelivery, dtype: int64

In [58]:
temp_df['player_out'].value_counts().sum()
temp_df['player_out'].value_counts()

V Kohli          5
SO Hetmyer       4
Q de Kock        4
KS Williamson    4
RA Tripathi      3
                ..
SV Samson        1
JR Philippe      1
S Dhawan         1
PP Shaw          1
NLTC Perera      1
Name: player_out, Length: 75, dtype: int64

In [59]:
temp_df.groupby('ID')['isWicketDelivery'].sum()

ID
598005     0
598034     0
598069     1
729281     1
729289     1
          ..
1304103    1
1304108    2
1304113    0
1312197    1
1312200    2
Name: isWicketDelivery, Length: 93, dtype: int64

In [189]:
## add `isWicketDelivery` record in the record dict along with batsman_run
## also added many others

def bowler_record(bowler_name):
    
    # player of the match
    player_of_match_df = df_matches[df_matches['Player_of_Match'] == bowler_name]
    no_of_player_match = len(player_of_match_df)
    
    # how many matches played
    matchwise_teamplayer = df_matches['Team1Players'] + df_matches['Team2Players']
    match_count=0
    for player_list in matchwise_teamplayer:
        if bowler_name in player_list:
            match_count += 1
            
    temp_df = ball_match[ball_match['bowler'] == bowler_name]
    total_run_against_bowler = temp_df.groupby('ID').agg({'batsman_run':sum,'isWicketDelivery':sum})
    
    unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()

    bowler_run_record = unique_combinations.merge(total_run_against_bowler,on='ID')
    bowler_run_record['year'] = bowler_run_record['Date'].dt.year

    record = {}
    
    # Group the data by year
    grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
    
    for year, group in grouped_by_year:
        record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                total_wickets = date_group['isWicketDelivery'].sum()
                
                record[str(year)][team][str(date.date())] = {
                    'runs': str(total_runs),
                    'wickets': str(total_wickets)
                }
    
    return {
        'overall summary':{
            'total matches played':str(match_count),
            'total wickets':str(total_run_against_bowler['isWicketDelivery'].sum()),
            'total Player of Match': str(no_of_player_match),
            'maximum runs conceded':str(bowler_run_record['batsman_run'].max()),
            'minimum runs conceded':str(bowler_run_record['batsman_run'].min()),
            'average runs conceded':str(round(bowler_run_record['batsman_run'].mean(),2))
        },
        
        'matchwise summary':record
    }

In [191]:
#bowler_record('Mohammed Shami')

In [173]:
## add the  player of match

bowler_name = 'HH Pandya'

player_of_match_df = df_matches[df_matches['Player_of_Match'] == bowler_name]
print('number of player_of_match: ',len(player_of_match_df))

number of player_of_match:  8

In [187]:
# how many matches played

matchwise_teamplayer = df_matches['Team1Players'] + df_matches['Team2Players']
matchwise_teamplayer

0      [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
1      [V Kohli, F du Plessis, RM Patidar, GJ Maxwell...
2      [V Kohli, F du Plessis, RM Patidar, GJ Maxwell...
3      [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
4      [PK Garg, Abhishek Sharma, RA Tripathi, AK Mar...
                             ...
945    [WP Saha, BB McCullum, RT Ponting, SC Ganguly,...
946    [L Ronchi, ST Jayasuriya, DJ Thornely, RV Utha...
947    [G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD ...
948    [K Goel, JR Hopes, KC Sangakkara, Yuvraj Singh...
949    [R Dravid, W Jaffer, V Kohli, JH Kallis, CL Wh...
Length: 950, dtype: object

In [188]:

count=0
for player_list in matchwise_teamplayer:
    if bowler_name in player_list:
        count+=1
count

107

## Batsman Record

In [62]:
ball_match.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [63]:
#list(set(ball_match['batter']))

In [64]:
batsman_name = 'RM Patidar'

In [65]:
temp_df = ball_match[ball_match['batter'] == batsman_name]

In [66]:
temp_df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [67]:
temp_df.groupby('ID')['batsman_run'].sum()

ID
1254058      8
1254067      1
1254079     31
1254083     31
1304085     16
1304089     52
1304095     21
1304100     48
1304106     26
1312198    112
1312199     58
Name: batsman_run, dtype: int64

In [68]:
temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()

            ID       Date                  BattingTeam
244    1312199 2022-05-27  Royal Challengers Bangalore
475    1312198 2022-05-25  Royal Challengers Bangalore
3573   1304106 2022-05-13  Royal Challengers Bangalore
4801   1304100 2022-05-08  Royal Challengers Bangalore
6073   1304095 2022-05-04  Royal Challengers Bangalore
7498   1304089 2022-04-30  Royal Challengers Bangalore
8609   1304085 2022-04-26  Royal Challengers Bangalore
26171  1254083 2021-04-30  Royal Challengers Bangalore
27011  1254079 2021-04-27  Royal Challengers Bangalore
29900  1254067 2021-04-18  Royal Challengers Bangalore
32239  1254058 2021-04-09  Royal Challengers Bangalore

In [69]:
# overall fours and sixes
fours_df = temp_df[temp_df['batsman_run']==4]
six_df = temp_df[temp_df['batsman_run']==6]
print(len(fours_df))
len(six_df)

30

21

In [70]:
temp_df['is_four'] = np.where(temp_df['batsman_run']==4, 1, 0)
temp_df['is_six'] = np.where(temp_df['batsman_run']==6, 1, 0)

/tmp/ipykernel_6879/376973308.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['is_four'] = np.where(temp_df['batsman_run']==4, 1, 0)
/tmp/ipykernel_6879/376973308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['is_six'] = np.where(temp_df['batsman_run']==6, 1, 0)

In [71]:
total_run_by_batsman = temp_df.groupby('ID').agg({'batsman_run':sum,'is_six':sum,'is_four':sum})
total_run_by_batsman

         batsman_run  is_six  is_four
ID
1254058            8       0        1
1254067            1       0        0
1254079           31       2        0
1254083           31       1        2
1304085           16       1        0
1304089           52       2        5
1304095           21       1        1
1304100           48       2        4
1304106           26       2        1
1312198          112       7       12
1312199           58       3        4

In [72]:
unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()
unique_combinations

            ID       Date                  BattingTeam
244    1312199 2022-05-27  Royal Challengers Bangalore
475    1312198 2022-05-25  Royal Challengers Bangalore
3573   1304106 2022-05-13  Royal Challengers Bangalore
4801   1304100 2022-05-08  Royal Challengers Bangalore
6073   1304095 2022-05-04  Royal Challengers Bangalore
7498   1304089 2022-04-30  Royal Challengers Bangalore
8609   1304085 2022-04-26  Royal Challengers Bangalore
26171  1254083 2021-04-30  Royal Challengers Bangalore
27011  1254079 2021-04-27  Royal Challengers Bangalore
29900  1254067 2021-04-18  Royal Challengers Bangalore
32239  1254058 2021-04-09  Royal Challengers Bangalore

In [73]:
batsman_run_record = unique_combinations.merge(total_run_by_batsman, on='ID')
batsman_run_record['year'] = batsman_run_record['Date'].dt.year
batsman_run_record

,ID,Date,BattingTeam,batsman_run,is_six,is_four,year
0,1312199,2022-05-27,Royal Challengers Bangalore,58,3,4,2022
1,1312198,2022-05-25,Royal Challengers Bangalore,112,7,12,2022
2,1304106,2022-05-13,Royal Challengers Bangalore,26,2,1,2022
3,1304100,2022-05-08,Royal Challengers Bangalore,48,2,4,2022
4,1304095,2022-05-04,Royal Challengers Bangalore,21,1,1,2022
5,1304089,2022-04-30,Royal Challengers Bangalore,52,2,5,2022
6,1304085,2022-04-26,Royal Challengers Bangalore,16,1,0,2022
7,1254083,2021-04-30,Royal Challengers Bangalore,31,1,2,2021
8,1254079,2021-04-27,Royal Challengers Bangalore,31,2,0,2021
9,1254067,2021-04-18,Royal Challengers Bangalore,1,0,0,2021
10,1254058,2021-04-09,Royal Challengers Bangalore,8,0,1,2021

In [74]:
grouped_by_year = batsman_run_record.groupby('year')
for year, group in grouped_by_year:
    #print(group)
    
    group_by_team = group.groupby('BattingTeam')
    for team, team_group in group_by_team:
        #print(team_group)
        
        group_by_date = team_group.groupby('Date')
        for date, date_group in group_by_date:
            #print(date_group)
            total_runs = date_group['batsman_run'].sum()
            match_fours = date_group['is_four']
            match_six = date_group['is_six']
            #print(match_fours)
            #print(match_six)

In [75]:
batsman_run_record['batsman_run'].max()
batsman_run_record['batsman_run'].min()
batsman_run_record['batsman_run'].mean()
batsman_run_record['batsman_run'].sum()

404

In [193]:
def batsman_record(batsman_name):
    
    # player of the match
    player_of_match_df = df_matches[df_matches['Player_of_Match'] == batsman_name]
    no_of_player_match = len(player_of_match_df)
    
    # how many matches played
    matchwise_teamplayer = df_matches['Team1Players'] + df_matches['Team2Players']
    match_count=0
    for player_list in matchwise_teamplayer:
        if batsman_name in player_list:
            match_count += 1
    
    temp_df = ball_match[ball_match['batter'] == batsman_name]
    
    # fours-sixes details
    fours_df = temp_df[temp_df['batsman_run']==4]
    six_df = temp_df[temp_df['batsman_run']==6]
    
    temp_df['is_four'] = np.where(temp_df['batsman_run']==4, 1, 0)
    temp_df['is_six'] = np.where(temp_df['batsman_run']==6, 1, 0)

    total_run_by_batsman = temp_df.groupby('ID').agg({'batsman_run':sum,'is_six':sum,'is_four':sum})
    
    unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()
    
    batsman_run_record = unique_combinations.merge(total_run_by_batsman, on='ID')
    batsman_run_record['year'] = batsman_run_record['Date'].dt.year
    
    record = {}
    
    grouped_by_year = batsman_run_record.groupby('year')
    
    for year, group in grouped_by_year:
        record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                match_fours = date_group['is_four'].sum()
                match_six = date_group['is_six'].sum()
            
                record[str(year)][team][str(date.date())] = {
                    'runs': str(total_runs),
                    'fours': str(match_fours),
                    'sixes': str(match_six)
                }
                
    return {
        'overall summary':{
            'total matches played':str(match_count),
            'total runs':str(batsman_run_record['batsman_run'].sum()),
            'total Player of Match': str(no_of_player_match),
            'maximum runs':str(batsman_run_record['batsman_run'].max()),
            'minimum runs':str(batsman_run_record['batsman_run'].min()),
            'average runs':str(round(batsman_run_record['batsman_run'].mean(), 2)),
            'fours': str(len(fours_df)),
            'sixes': str(len(six_df))
        },
        
        'matchwise summary':record
    }

In [195]:
#batsman_record('RM Patidar')

## Team Record

In [ ]:

{
    'team1':  {
        'total matches':30
        'winnings': 22,
        'draw':2

        },
    'team2':  {
        'total matches':30
        'winnings': 22,
        'draw':2

        }

}

In [310]:
# team_vs_team winnings record

def team_vs_team(team1,team2):
    
    temp_df = df_matches[((df_matches['Team1']==team1) & (df_matches['Team2']==team2)) | (df_matches['Team1']==team2) & (df_matches['Team2']==team1)]

    total_matches = len(temp_df) 
    
    matches_won_team1 = sum(temp_df['WinningTeam']==team1)
    matches_won_team2 = sum(temp_df['WinningTeam']==team2)

    draws = total_matches - (matches_won_team1 + matches_won_team2)
    return {
        'total_matches': str(total_matches),
        'winnnings':{team1: str(matches_won_team1), team2: str(matches_won_team2)},
        'draws': str(draws)
    }

In [294]:
def number_of_winnings(team):
    temp_df = df_matches[(df_matches['Team1']==team) | (df_matches['Team2']==team)]
    total = len(temp_df)
    won = len(temp_df[temp_df['WinningTeam']==team])
    return {
        'total matches played':str(total),
        'number of winnings': str(won)
    }

In [295]:
# merge `team vs team` and `teamwise winnning details` functions that created above
# add the no. of final matches played
team_name = 'Kolkata Knight Riders'

In [296]:
final_temp_df = df_matches[df_matches['MatchNumber'] == 'Final']
final_temp_df['Team1'] == team_name

0      False
74     False
134    False
194    False
254    False
314    False
373    False
433    False
492     True
552    False
628     True
702    False
775    False
835    False
892    False
Name: Team1, dtype: bool

In [297]:
final_match_df = final_temp_df[(final_temp_df['Team1'] == team_name) | (final_temp_df['Team2'] == team_name)]
final_match_df

print(len(final_match_df))
sum(final_match_df['WinningTeam']==team_name) # no of winnings in final match

3

2

In [298]:
def team_record(given_team):
    
    # winning history of the team
    all_teams = list(set(ball_match['BattingTeam']))
    winning_hist = number_of_winnings(given_team)
    
    # winning history of the team in final match
    final_temp_df = df_matches[df_matches['MatchNumber'] == 'Final']
    final_match_df = final_temp_df[(final_temp_df['Team1'] == given_team) | (final_temp_df['Team2'] == given_team)]
    
    total_final_match = len(final_match_df)
    winnings_in_final_match = sum(final_match_df['WinningTeam']==given_team)
    
    winning_hist['total final matches played'] = str(total_final_match)
    winning_hist['number of final match winnings'] = str(winnings_in_final_match)
    
    record = {}
    for other_team in all_teams:
        if other_team != given_team:
            record[str(other_team)] = team_vs_team(given_team,other_team)
            
    return {
        'overall summary':winning_hist,
        'teamwise summary':record
    }

In [305]:
#team_record('Mumbai Indians')