In [1]:
import numpy as np
import pandas as pd

In [2]:
df_ball = pd.read_csv('data/IPL_Ball_by_Ball_2008_2022.csv')
df_matches = pd.read_csv('data/ipl-matches.csv')

In [3]:
df_ball.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
df_matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [5]:
total_teams = df_ball['BattingTeam'].unique().tolist()
#total_teams = list(set(df_ball['BattingTeam']))

total_teams

['Rajasthan Royals',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Lucknow Super Giants',
 'Sunrisers Hyderabad',
 'Punjab Kings',
 'Delhi Capitals',
 'Mumbai Indians',
 'Chennai Super Kings',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Rising Pune Supergiant',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Pune Warriors',
 'Deccan Chargers',
 'Kochi Tuskers Kerala']

In [6]:
# another way of getting total teams

list(df_matches['Team1']) + list(df_matches['Team2'])

set(list(df_matches['Team1']) + list(df_matches['Team2']))

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad'}

In [7]:
df_matches[df_matches['Team1']=='Rajasthan Royals']
df_matches[df_matches['Team2']=='Rajasthan Royals']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
22,1304098,Mumbai,2022-05-07,2022,52,Punjab Kings,Rajasthan Royals,"Wankhede Stadium, Mumbai",Punjab Kings,bat,N,Rajasthan Royals,Wickets,6.0,NaN,YBK Jaiswal,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",Chirra Ravikanthreddy,YC Barde
50,1304070,Mumbai,2022-04-14,2022,24,Gujarat Titans,Rajasthan Royals,"Dr DY Patil Sports Academy, Mumbai",Rajasthan Royals,field,N,Gujarat Titans,Runs,37.0,NaN,HH Pandya,"['MS Wade', 'Shubman Gill', 'V Shankar', 'HH P...","['JC Buttler', 'D Padikkal', 'R Ashwin', 'SV S...",CB Gaffaney,R Pandit
80,1254106,Sharjah,2021-10-07,2021,54,Kolkata Knight Riders,Rajasthan Royals,Sharjah Cricket Stadium,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,86.0,NaN,Shivam Mavi,"['Shubman Gill', 'VR Iyer', 'N Rana', 'RA Trip...","['YBK Jaiswal', 'LS Livingstone', 'SV Samson',...",MA Gough,HAS Khalid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,336027,Kolkata,2008-05-20,2007/08,44,Kolkata Knight Riders,Rajasthan Royals,Eden Gardens,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,6.0,NaN,YK Pathan,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['GC Smith', 'SA Asnodkar', 'Sohail Tanvir', '...",BG Jerling,RE Koertzen
923,336008,Mumbai,2008-05-07,2007/08,27,Mumbai Indians,Rajasthan Royals,Dr DY Patil Sports Academy,Mumbai Indians,field,N,Mumbai Indians,Wickets,7.0,NaN,A Nehra,"['YV Takawale', 'ST Jayasuriya', 'RV Uthappa',...","['GC Smith', 'SA Asnodkar', 'YK Pathan', 'SR W...",DJ Harper,RE Koertzen
939,335992,Bangalore,2008-04-26,2007/08,12,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,SR Watson,"['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...","['GC Smith', 'M Rawat', 'YK Pathan', 'SR Watso...",MR Benson,IL Howell
941,335990,Hyderabad,2008-04-24,2007/08,9,Deccan Chargers,Rajasthan Royals,"Rajiv Gandhi International Stadium, Uppal",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,YK Pathan,"['AC Gilchrist', 'VVS Laxman', 'Shahid Afridi'...","['Kamran Akmal', 'GC Smith', 'YK Pathan', 'SR ...",Asad Rauf,MR Benson
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar

In [8]:
import ast
ast.literal_eval(df_matches['Team1Players'][0])

['YBK Jaiswal',
 'JC Buttler',
 'SV Samson',
 'D Padikkal',
 'SO Hetmyer',
 'R Ashwin',
 'R Parag',
 'TA Boult',
 'OC McCoy',
 'M Prasidh Krishna',
 'YS Chahal']

In [9]:
type(df_matches['Team1Players'][0])

str

In [10]:
import ast

df_matches['Team1Players'] = df_matches['Team1Players'].apply(lambda x: ast.literal_eval(x))
df_matches['Team2Players'] = df_matches['Team2Players'].apply(lambda x: ast.literal_eval(x))

In [11]:
# merging two dataframes
ball_match = df_matches.merge(df_ball,on='ID')
ball_match['Date'] = pd.to_datetime(ball_match['Date'])
ball_match

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [12]:
df_matches[df_matches['Team1']=='Rajasthan Royals']['Team1Players'][0]

['YBK Jaiswal',
 'JC Buttler',
 'SV Samson',
 'D Padikkal',
 'SO Hetmyer',
 'R Ashwin',
 'R Parag',
 'TA Boult',
 'OC McCoy',
 'M Prasidh Krishna',
 'YS Chahal']

In [13]:
players=[]
for series in df_matches[df_matches['Team1']=='Rajasthan Royals']['Team1Players']:
    for i in range(len(series)):
        if series[i] not in players:
            players.append(series[i])
len(players)

114

In [14]:
team_name = 'Rajasthan Royals'

In [15]:
def teamwise_players_played1(team_name):
    players=[]
    for series in df_matches[df_matches['Team1']==team_name]['Team1Players']:
        for i in range(len(series)):
            if series[i] not in players:
                players.append(series[i])


    for series in df_matches[df_matches['Team2']==team_name]['Team2Players']:
        for i in range(len(series)):
            if series[i] not in players:
                players.append(series[i])            

    return {'players':players}

In [16]:
teamwise_players_played1('Rajasthan Royals')
len(teamwise_players_played1('Rajasthan Royals')['players'])

137

In [17]:
# another way of getting players

def teamwise_players_played(team_name):
    players = []
    for item in df_matches[df_matches['Team1']==team_name]['Team1Players']:
        players.extend(item)

    for item in df_matches[df_matches['Team2']==team_name]['Team2Players']:
        players.extend(item)

    players = list(set(players))
    return {'players':players}

In [18]:
teamwise_players_played('Rajasthan Royals')
len(teamwise_players_played('Rajasthan Royals')['players'])

137

In [19]:
(ball_match['Team1']==team_name).value_counts()

False    204720
True      21234
Name: Team1, dtype: int64

In [20]:
(ball_match['Date'].dt.year[0]==2022)

True

In [21]:
((ball_match['Team1']==team_name) & (ball_match['Date'].dt.year==2022)).value_counts()

False    222717
True       3237
dtype: int64

In [22]:
ball_match[(ball_match['Team1']==team_name) & (ball_match['Date'].dt.year==2022)]['Team1Players']

0        [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
1        [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
2        [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
3        [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
4        [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
                               ...
16933    [JC Buttler, YBK Jaiswal, SV Samson, D Padikka...
16934    [JC Buttler, YBK Jaiswal, SV Samson, D Padikka...
16935    [JC Buttler, YBK Jaiswal, SV Samson, D Padikka...
16936    [JC Buttler, YBK Jaiswal, SV Samson, D Padikka...
16937    [JC Buttler, YBK Jaiswal, SV Samson, D Padikka...
Name: Team1Players, Length: 3237, dtype: object

In [23]:
ball_match[(ball_match['Team1']==team_name) & (ball_match['Date'].dt.year==2022)]['Team1Players'][0][0]

'YBK Jaiswal'

In [24]:
# BUT, now we want year-wise team players

team_name = 'Rajasthan Royals'
year = 2022

# Function to retrieve year-wise team players
def team_players_yearwise(team_name: str, year: int) -> dict:
    """
    Retrieves year-wise team players for a given team name and year.
    
    Args:
        team_name (str): The name of the team.
        year (int): The year for which team players are to be retrieved.
    
    Returns:
        dict: A dictionary containing the list of team players.
    """
    players = []
    
    # Retrieve team players for Team1 matching the given team name and year
    for item in ball_match[(ball_match['Team1'] == team_name) & (ball_match['Date'].dt.year == year)]['Team1Players']:
        players.extend(item)
    
    # Retrieve team players for Team2 matching the given team name and year
    for item in ball_match[(ball_match['Team2'] == team_name) & (ball_match['Date'].dt.year == year)]['Team2Players']:
        players.extend(item)
    
    players = list(set(players))
    return {'players': players}

In [25]:
team_players_yearwise('Rajasthan Royals',2020)

{'players': ['DA Miller',
  'TK Curran',
  'VR Aaron',
  'JC Buttler',
  'SPD Smith',
  'BA Stokes',
  'RV Uthappa',
  'R Parag',
  'S Gopal',
  'Kartik Tyagi',
  'JD Unadkat',
  'SV Samson',
  'MK Lomror',
  'YBK Jaiswal',
  'JC Archer',
  'AJ Tye',
  'AS Rajpoot',
  'R Tewatia']}

In [26]:
team_players_yearwise('Rajasthan Royals',2022)

{'players': ['NM Coulter-Nile',
  'JC Buttler',
  'DJ Mitchell',
  'SO Hetmyer',
  'R Parag',
  'OC McCoy',
  'HE van der Dussen',
  'YBK Jaiswal',
  'SV Samson',
  'R Ashwin',
  'JDS Neesham',
  'KK Nair',
  'D Padikkal',
  'Navdeep Saini',
  'KR Sen',
  'YS Chahal',
  'M Prasidh Krishna',
  'TA Boult']}

In [27]:
set(list(df_matches['Team1']) + list(df_matches['Team2']))

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad'}

In [28]:
len(set(list(df_matches['Team1']) + list(df_matches['Team2'])))

18

In [29]:
df_matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[WP Saha, Shubman Gill, MS Wade, HH Pandya, DA...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,Nitin Menon

In [30]:
team1='Rajasthan Royals'
team2='Gujarat Titans'

(df_matches['Team1']==team1) | (df_matches['Team2']==team1)

df_matches[(df_matches['Team1']==team1) | (df_matches['Team2']==team1)]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[WP Saha, Shubman Gill, MS Wade, HH Pandya, DA...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,Nitin Menon
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[WP Saha, Shubman Gill, MS Wade, HH Pandya, DA...",BNJ Oxenford,VK Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"[RD Gaikwad, DP Conway, MM Ali, N Jagadeesan, ...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,NA Patwardhan
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[Q de Kock, KL Rahul, A Badoni, DJ Hooda, KH P...",PG Pathak,Tapan Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,336000,Jaipur,2008-05-01,2007/08,18,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Rajasthan Royals,bat,N,Rajasthan Royals,Runs,45.0,NaN,SA Asnodkar,"[GC Smith, SA Asnodkar, M Kaif, YK Pathan, SR ...","[Salman Butt, SC Ganguly, AB Agarkar, BJ Hodge...",RE Koertzen,GA Pratapkumar
939,335992,Bangalore,2008-04-26,2007/08,12,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,SR Watson,"[S Chanderpaul, R Dravid, LRPL Taylor, JH Kall...","[GC Smith, M Rawat, YK Pathan, SR Watson, M Ka...",MR Benson,IL Howell
941,335990,Hyderabad,2008-04-24,2007/08,9,Deccan Chargers,Rajasthan Royals,"Rajiv Gandhi International Stadium, Uppal",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,YK Pathan,"[AC Gilchrist, VVS Laxman, Shahid Afridi, A Sy...","[Kamran Akmal, GC Smith, YK Pathan, SR Watson,...",Asad Rauf,MR Benson
944,335987,Jaipur,2008-04-21,2007/08,6,Rajasthan Royals,Kings XI Punjab,Sawai Mansingh Stadium,Kings XI Punjab,bat,N,Rajasthan Royals,Wickets,6.0,NaN,SR Watson,"[M Kaif, Kamran Akmal, YK Pathan, SR Watson, D...","[K Goel, JR Hopes, KC Sangakkara, DPMD Jayawar...",Aleem Dar,RB Tiffin
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"[G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD ...","[T Kohli, YK Pathan, SR Watson, M Kaif, DS Leh...",Aleem Dar,GA Pratapkumar

In [31]:
temp_df = df_matches[(df_matches['Team1']==team1) | (df_matches['Team2']==team1)]
temp_df['WinningTeam']==team1
temp_df[temp_df['WinningTeam']==team1]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,Nitin Menon
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"[RD Gaikwad, DP Conway, MM Ali, N Jagadeesan, ...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",CB Gaffaney,NA Patwardhan
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...","[Q de Kock, KL Rahul, A Badoni, DJ Hooda, KH P...",PG Pathak,Tapan Sharma
22,1304098,Mumbai,2022-05-07,2022,52,Punjab Kings,Rajasthan Royals,"Wankhede Stadium, Mumbai",Punjab Kings,bat,N,Rajasthan Royals,Wickets,6.0,NaN,YBK Jaiswal,"[JM Bairstow, S Dhawan, PBB Rajapaksa, MA Agar...","[YBK Jaiswal, JC Buttler, SV Samson, D Padikka...",Chirra Ravikanthreddy,YC Barde
35,1304085,Pune,2022-04-26,2022,39,Rajasthan Royals,Royal Challengers Bangalore,"Maharashtra Cricket Association Stadium, Pune",Royal Challengers Bangalore,field,N,Rajasthan Royals,Runs,29.0,NaN,R Parag,"[JC Buttler, D Padikkal, R Ashwin, SV Samson, ...","[V Kohli, F du Plessis, RM Patidar, GJ Maxwell...",BNJ Oxenford,KN Ananthapadmanabhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926,336005,Jaipur,2008-05-04,2007/08,24,Rajasthan Royals,Chennai Super Kings,Sawai Mansingh Stadium,Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,8.0,NaN,Sohail Tanvir,"[GC Smith, SA Asnodkar, YK Pathan, SR Watson, ...","[PA Patel, SP Fleming, S Vidyut, SK Raina, S B...",Asad Rauf,AV Jayaprakash
931,336000,Jaipur,2008-05-01,2007/08,18,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Rajasthan Royals,bat,N,Rajasthan Royals,Runs,45.0,NaN,SA Asnodkar,"[GC Smith, SA Asnodkar, M Kaif, YK Pathan, SR ...","[Salman Butt, SC Ganguly, AB Agarkar, BJ Hodge...",RE Koertzen,GA Pratapkumar
939,335992,Bangalore,2008-04-26,2007/08,12,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,SR Watson,"[S Chanderpaul, R Dravid, LRPL Taylor, JH Kall...","[GC Smith, M Rawat, YK Pathan, SR Watson, M Ka...",MR Benson,IL Howell
941,335990,Hyderabad,2008-04-24,2007/08,9,Deccan Chargers,Rajasthan Royals,"Rajiv Gandhi International Stadium, Uppal",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,3.0,NaN,YK Pathan,"[AC Gilchrist, VVS Laxman, Shahid Afridi, A Sy...","[Kamran Akmal, GC Smith, YK Pathan, SR Watson,...",Asad Rauf,MR Benson
944,335987,Jaipur,2008-04-21,2007/08,6,Rajasthan Royals,Kings XI Punjab,Sawai Mansingh Stadium,Kings XI Punjab,bat,N,Rajasthan Royals,Wickets,6.0,NaN,SR Watson,"[M Kaif, Kamran Akmal, YK Pathan, SR Watson, D...","[K Goel, JR Hopes, KC Sangakkara, DPMD Jayawar...",Aleem Dar,RB Tiffin

In [32]:
def number_of_winnings(team):
    temp_df = df_matches[(df_matches['Team1']==team) | (df_matches['Team2']==team)]
    total = len(temp_df)
    won = len(temp_df[temp_df['WinningTeam']==team])
    return {
        'total matches played':str(total),
        'number of winnings': str(won)
    }

In [33]:
number_of_winnings('Rajasthan Royals')

{'total matches played': '192', 'number of winnings': '96'}

In [34]:
df_matches['WinningTeam'].value_counts()

Mumbai Indians                 131
Chennai Super Kings            121
Kolkata Knight Riders          114
Royal Challengers Bangalore    109
Rajasthan Royals                96
Kings XI Punjab                 88
Sunrisers Hyderabad             75
Delhi Daredevils                67
Delhi Capitals                  36
Deccan Chargers                 29
Gujarat Lions                   13
Punjab Kings                    13
Pune Warriors                   12
Gujarat Titans                  12
Rising Pune Supergiant          10
Lucknow Super Giants             9
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: WinningTeam, dtype: int64

In [35]:
{'winning details of all teams': {key: value for key, value in zip(df_matches['WinningTeam'].value_counts().index, df_matches['WinningTeam'].value_counts().values)}}

{'winning details of all teams': {'Mumbai Indians': 131,
  'Chennai Super Kings': 121,
  'Kolkata Knight Riders': 114,
  'Royal Challengers Bangalore': 109,
  'Rajasthan Royals': 96,
  'Kings XI Punjab': 88,
  'Sunrisers Hyderabad': 75,
  'Delhi Daredevils': 67,
  'Delhi Capitals': 36,
  'Deccan Chargers': 29,
  'Gujarat Lions': 13,
  'Punjab Kings': 13,
  'Pune Warriors': 12,
  'Gujarat Titans': 12,
  'Rising Pune Supergiant': 10,
  'Lucknow Super Giants': 9,
  'Kochi Tuskers Kerala': 6,
  'Rising Pune Supergiants': 5}}

In [36]:
def winning_details_all_team():
    temp_series = df_matches['WinningTeam'].value_counts()
    winning_details = {'winning details of all teams': {key: value for key, value in zip(temp_series.index, temp_series.values)}}
    return winning_details

In [37]:
winning_details_all_team()

{'winning details of all teams': {'Mumbai Indians': 131,
  'Chennai Super Kings': 121,
  'Kolkata Knight Riders': 114,
  'Royal Challengers Bangalore': 109,
  'Rajasthan Royals': 96,
  'Kings XI Punjab': 88,
  'Sunrisers Hyderabad': 75,
  'Delhi Daredevils': 67,
  'Delhi Capitals': 36,
  'Deccan Chargers': 29,
  'Gujarat Lions': 13,
  'Punjab Kings': 13,
  'Pune Warriors': 12,
  'Gujarat Titans': 12,
  'Rising Pune Supergiant': 10,
  'Lucknow Super Giants': 9,
  'Kochi Tuskers Kerala': 6,
  'Rising Pune Supergiants': 5}}

In [38]:
df_matches['WinningTeam'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 950 entries, 0 to 949
Series name: WinningTeam
Non-Null Count  Dtype
--------------  -----
946 non-null    object
dtypes: object(1)
memory usage: 7.5+ KB

In [39]:
df_matches[pd.isna(df_matches['WinningTeam'])]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, AB de Villiers, MP Stoinis, H Klaase...","[SV Samson, LS Livingstone, AM Rahane, SPD Smi...",NJ Llong,UV Gandhe
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, CH Gayle, AB de Villiers, Mandeep Si...","[Q de Kock, SS Iyer, JP Duminy, Yuvraj Singh, ...",HDPK Dharmasena,K Srinivasan
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[CH Gayle, V Kohli, AB de Villiers, Mandeep Si...","[AM Rahane, SR Watson, SPD Smith, KK Nair, SV ...",JD Cloete,PG Pathak
708,501265,Delhi,2011-05-21,2011,68,Delhi Daredevils,Pune Warriors,Feroz Shah Kotla,Delhi Daredevils,bat,NaN,NaN,NoResults,NaN,NaN,NaN,"[NV Ojha, DA Warner, MS Wade, CA Ingram, Y Ven...","[MK Pandey, JP Faulkner, SC Ganguly, RV Uthapp...",SS Hazare,RJ Tucker

In [40]:
df_matches[df_matches['WonBy']=='NoResults']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, AB de Villiers, MP Stoinis, H Klaase...","[SV Samson, LS Livingstone, AM Rahane, SPD Smi...",NJ Llong,UV Gandhe
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[V Kohli, CH Gayle, AB de Villiers, Mandeep Si...","[Q de Kock, SS Iyer, JP Duminy, Yuvraj Singh, ...",HDPK Dharmasena,K Srinivasan
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"[CH Gayle, V Kohli, AB de Villiers, Mandeep Si...","[AM Rahane, SR Watson, SPD Smith, KK Nair, SV ...",JD Cloete,PG Pathak
708,501265,Delhi,2011-05-21,2011,68,Delhi Daredevils,Pune Warriors,Feroz Shah Kotla,Delhi Daredevils,bat,NaN,NaN,NoResults,NaN,NaN,NaN,"[NV Ojha, DA Warner, MS Wade, CA Ingram, Y Ven...","[MK Pandey, JP Faulkner, SC Ganguly, RV Uthapp...",SS Hazare,RJ Tucker

In [41]:
df_matches['WonBy'].value_counts()

Wickets      509
Runs         423
SuperOver     14
NoResults      4
Name: WonBy, dtype: int64

### team1 Vs team2

In [42]:
team1='Kolkata Knight Riders'
team2='Kochi Tuskers Kerala'

(df_matches['Team1']==team1) | (df_matches['Team2']==team1)

temp_df = df_matches[((df_matches['Team1']==team1) & (df_matches['Team2']==team2)) | (df_matches['Team1']==team2) & (df_matches['Team2']==team1)]
temp_df['WinningTeam'].value_counts()

Kochi Tuskers Kerala    2
Name: WinningTeam, dtype: int64

In [43]:
len(temp_df)

2

In [44]:
try:
    temp_df['WinningTeam'].value_counts()['Kolkata Knight Riders']
except KeyError:
    print('KeyError')

KeyError

In [45]:
# team_vs_team winnings record

def team_vs_team(team1,team2):
    
    temp_df = df_matches[((df_matches['Team1']==team1) & (df_matches['Team2']==team2)) | (df_matches['Team1']==team2) & (df_matches['Team2']==team1)]

    total_matches = len(temp_df) 
    
    matches_won_team1 = sum(temp_df['WinningTeam']==team1)
    matches_won_team2 = sum(temp_df['WinningTeam']==team2)

    draws = total_matches - (matches_won_team1 + matches_won_team2)
    return {
        'total_matches': str(total_matches),
        'winnnings':{team1: str(matches_won_team1), team2: str(matches_won_team2)},
        'draws': str(draws)
    }

In [46]:
team_vs_team('Kochi Tuskers Kerala','Kolkata Knight Riders')

{'total_matches': '2',
 'winnnings': {'Kochi Tuskers Kerala': '2', 'Kolkata Knight Riders': '0'},
 'draws': '0'}

In [47]:
list(set(df_ball['BattingTeam']))

['Rising Pune Supergiants',
 'Gujarat Titans',
 'Gujarat Lions',
 'Sunrisers Hyderabad',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Punjab Kings',
 'Delhi Daredevils',
 'Royal Challengers Bangalore',
 'Kings XI Punjab',
 'Kolkata Knight Riders',
 'Chennai Super Kings',
 'Delhi Capitals',
 'Pune Warriors']

### Bowler Record

In [48]:
winning_details_all_team()

{'winning details of all teams': {'Mumbai Indians': 131,
  'Chennai Super Kings': 121,
  'Kolkata Knight Riders': 114,
  'Royal Challengers Bangalore': 109,
  'Rajasthan Royals': 96,
  'Kings XI Punjab': 88,
  'Sunrisers Hyderabad': 75,
  'Delhi Daredevils': 67,
  'Delhi Capitals': 36,
  'Deccan Chargers': 29,
  'Gujarat Lions': 13,
  'Punjab Kings': 13,
  'Pune Warriors': 12,
  'Gujarat Titans': 12,
  'Rising Pune Supergiant': 10,
  'Lucknow Super Giants': 9,
  'Kochi Tuskers Kerala': 6,
  'Rising Pune Supergiants': 5}}

In [49]:
df_ball

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [50]:

all_bowlers = list(set(df_ball['bowler'].tolist()))

In [51]:
ball_match.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [52]:
temp_df = ball_match[ball_match['bowler'] == 'Mohammed Shami']
temp_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147743,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147744,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147745,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147746,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
147747,598005,Jaipur,2013-04-08,2013,8,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [53]:
total_run_against_bowler = temp_df.groupby('ID')['batsman_run'].sum().reset_index()
total_run_against_bowler

         ID  batsman_run
0    598005           26
1    598034           19
2    598069           26
3    729281           28
4    729289           24
..      ...          ...
88  1304103            4
89  1304108           19
90  1304113           18
91  1312197           37
92  1312200           33

[93 rows x 2 columns]

In [54]:
unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()
unique_combinations

             ID       Date                  BattingTeam
0       1312200 2022-05-29             Rajasthan Royals
725     1312197 2022-05-24             Rajasthan Royals
1813    1304113 2022-05-19  Royal Challengers Bangalore
2932    1304108 2022-05-15          Chennai Super Kings
4242    1304103 2022-05-10         Lucknow Super Giants
...         ...        ...                          ...
129960   729289 2014-04-19        Kolkata Knight Riders
131061   729281 2014-04-17  Royal Challengers Bangalore
132538   598069 2013-05-19          Sunrisers Hyderabad
140182   598034 2013-04-28          Chennai Super Kings
147664   598005 2013-04-08             Rajasthan Royals

[93 rows x 3 columns]

In [55]:
bowler_run_record = unique_combinations.merge(total_run_against_bowler,on='ID')
bowler_run_record['year'] = bowler_run_record['Date'].dt.year
bowler_run_record

         ID       Date                  BattingTeam  batsman_run  year
0   1312200 2022-05-29             Rajasthan Royals           33  2022
1   1312197 2022-05-24             Rajasthan Royals           37  2022
2   1304113 2022-05-19  Royal Challengers Bangalore           18  2022
3   1304108 2022-05-15          Chennai Super Kings           19  2022
4   1304103 2022-05-10         Lucknow Super Giants            4  2022
..      ...        ...                          ...          ...   ...
88   729289 2014-04-19        Kolkata Knight Riders           24  2014
89   729281 2014-04-17  Royal Challengers Bangalore           28  2014
90   598069 2013-05-19          Sunrisers Hyderabad           26  2013
91   598034 2013-04-28          Chennai Super Kings           19  2013
92   598005 2013-04-08             Rajasthan Royals           26  2013

[93 rows x 5 columns]

In [56]:
#bowler_run_record[['BattingTeam', 'year']].value_counts()

#### write this type of dictionary from the `bowler_run_record` dataframe

```
{
    '2021':  {
        'team1':{
            'date1': 22,
            'date2':29
        },
        
        'team2':{
            'date1': 22,
            'date2':29
        }
    },
    
    '2022':  {
        'team1':{
            'date1': 20,
            'date2':30
        },
        
        'team2':{
            'date1': 22,
            'date2':29
        }
    }
}

```

In [57]:
unique_combinations.merge(total_run_against_bowler,on='ID')['batsman_run']

0     33
1     37
2     18
3     19
4      4
      ..
88    24
89    28
90    26
91    19
92    26
Name: batsman_run, Length: 93, dtype: int64

In [58]:
bowler_run_record['batsman_run'].max()
bowler_run_record['batsman_run'].min()
bowler_run_record['batsman_run'].mean()

29.9247311827957

In [59]:
grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
for year, group in grouped_by_year:
    #print(group)
    group_by_team = group.groupby('BattingTeam')
    for team, team_group in group_by_team:
        #print(team_group)
        #print(team_group['batsman_run'])
        group_by_date = team_group.groupby('Date')   
        for date, date_group in group_by_date:
            total_runs = date_group['batsman_run'].sum()
            #print(date_group)
            #print(total_runs)
            pass

In [60]:
bowler_run_record['Date'][0].date()

datetime.date(2022, 5, 29)

In [61]:
def format_bowler_run_record():
    formatted_record = {}
    
    # Group the data by year
    grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
    
    for year, group in grouped_by_year:
        formatted_record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            formatted_record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                formatted_record[str(year)][team][str(date.date())] = total_runs
    
    return formatted_record

In [62]:
#format_bowler_run_record()

In [63]:
## create a function for bowler-run-record all together 

def bowler_record(bowler_name):
    
    temp_df = ball_match[ball_match['bowler'] == bowler_name]
    
    total_run_against_bowler = temp_df.groupby('ID')['batsman_run'].sum().reset_index()
    
    unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()

    bowler_run_record = unique_combinations.merge(total_run_against_bowler,on='ID')
    bowler_run_record['year'] = bowler_run_record['Date'].dt.year

    record = {}
    
    # Group the data by year
    grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
    
    for year, group in grouped_by_year:
        record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                record[str(year)][team][str(date.date())] = str(total_runs)
    
    return record

In [64]:
bowler_run_record['batsman_run'].max()
bowler_run_record['batsman_run'].min()
bowler_run_record['batsman_run'].mean()

29.9247311827957

In [65]:
bowler_run_record['batsman_run'].min()

4

In [66]:
#bowler_record('Mohammed Shami')

In [67]:
temp_df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [68]:
temp_df['isWicketDelivery'].value_counts()

0    2002
1     116
Name: isWicketDelivery, dtype: int64

In [69]:
temp_df['player_out'].value_counts().sum()
temp_df['player_out'].value_counts()

V Kohli          5
SO Hetmyer       4
Q de Kock        4
KS Williamson    4
RA Tripathi      3
                ..
SV Samson        1
JR Philippe      1
S Dhawan         1
PP Shaw          1
NLTC Perera      1
Name: player_out, Length: 75, dtype: int64

In [70]:
temp_df.groupby('ID')['isWicketDelivery'].sum()

ID
598005     0
598034     0
598069     1
729281     1
729289     1
          ..
1304103    1
1304108    2
1304113    0
1312197    1
1312200    2
Name: isWicketDelivery, Length: 93, dtype: int64

In [71]:
## add `isWicketDelivery` record in the record dict along with batsman_run
## also added many others

def bowler_record(bowler_name):
    
    # player of the match
    player_of_match_df = df_matches[df_matches['Player_of_Match'] == bowler_name]
    no_of_player_match = len(player_of_match_df)
    
    # how many matches played
    matchwise_teamplayer = df_matches['Team1Players'] + df_matches['Team2Players']
    match_count=0
    for player_list in matchwise_teamplayer:
        if bowler_name in player_list:
            match_count += 1
            
    temp_df = ball_match[ball_match['bowler'] == bowler_name]
    total_run_against_bowler = temp_df.groupby('ID').agg({'batsman_run':sum,'isWicketDelivery':sum})
    
    unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()

    bowler_run_record = unique_combinations.merge(total_run_against_bowler,on='ID')
    bowler_run_record['year'] = bowler_run_record['Date'].dt.year

    record = {}
    
    # Group the data by year
    grouped_by_year = bowler_run_record.groupby(bowler_run_record['year'])
    
    for year, group in grouped_by_year:
        record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                total_wickets = date_group['isWicketDelivery'].sum()
                
                record[str(year)][team][str(date.date())] = {
                    'runs': str(total_runs),
                    'wickets': str(total_wickets)
                }
    
    return {
        'overall summary':{
            'total matches played':str(match_count),
            'total wickets':str(total_run_against_bowler['isWicketDelivery'].sum()),
            'total Player of Match': str(no_of_player_match),
            'maximum runs conceded':str(bowler_run_record['batsman_run'].max()),
            'minimum runs conceded':str(bowler_run_record['batsman_run'].min()),
            'average runs conceded':str(round(bowler_run_record['batsman_run'].mean(),2))
        },
        
        'matchwise summary':record
    }

In [72]:
#bowler_record('Mohammed Shami')

In [73]:
## add the  player of match

bowler_name = 'HH Pandya'

player_of_match_df = df_matches[df_matches['Player_of_Match'] == bowler_name]
print('number of player_of_match: ',len(player_of_match_df))

number of player_of_match:  8

In [74]:
# how many matches played

matchwise_teamplayer = df_matches['Team1Players'] + df_matches['Team2Players']
matchwise_teamplayer

0      [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
1      [V Kohli, F du Plessis, RM Patidar, GJ Maxwell...
2      [V Kohli, F du Plessis, RM Patidar, GJ Maxwell...
3      [YBK Jaiswal, JC Buttler, SV Samson, D Padikka...
4      [PK Garg, Abhishek Sharma, RA Tripathi, AK Mar...
                             ...
945    [WP Saha, BB McCullum, RT Ponting, SC Ganguly,...
946    [L Ronchi, ST Jayasuriya, DJ Thornely, RV Utha...
947    [G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD ...
948    [K Goel, JR Hopes, KC Sangakkara, Yuvraj Singh...
949    [R Dravid, W Jaffer, V Kohli, JH Kallis, CL Wh...
Length: 950, dtype: object

In [75]:

count=0
for player_list in matchwise_teamplayer:
    if bowler_name in player_list:
        count+=1
count

107

## Batsman Record

In [76]:
ball_match.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [77]:
#list(set(ball_match['batter']))

In [78]:
batsman_name = 'RM Patidar'

In [79]:
temp_df = ball_match[ball_match['batter'] == batsman_name]

In [80]:
temp_df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'innings', 'overs', 'ballnumber',
       'batter', 'bowler', 'non-striker', 'extra_type', 'batsman_run',
       'extras_run', 'total_run', 'non_boundary', 'isWicketDelivery',
       'player_out', 'kind', 'fielders_involved', 'BattingTeam'],
      dtype='object')

In [81]:
temp_df.groupby('ID')['batsman_run'].sum()

ID
1254058      8
1254067      1
1254079     31
1254083     31
1304085     16
1304089     52
1304095     21
1304100     48
1304106     26
1312198    112
1312199     58
Name: batsman_run, dtype: int64

In [82]:
temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()

            ID       Date                  BattingTeam
244    1312199 2022-05-27  Royal Challengers Bangalore
475    1312198 2022-05-25  Royal Challengers Bangalore
3573   1304106 2022-05-13  Royal Challengers Bangalore
4801   1304100 2022-05-08  Royal Challengers Bangalore
6073   1304095 2022-05-04  Royal Challengers Bangalore
7498   1304089 2022-04-30  Royal Challengers Bangalore
8609   1304085 2022-04-26  Royal Challengers Bangalore
26171  1254083 2021-04-30  Royal Challengers Bangalore
27011  1254079 2021-04-27  Royal Challengers Bangalore
29900  1254067 2021-04-18  Royal Challengers Bangalore
32239  1254058 2021-04-09  Royal Challengers Bangalore

In [83]:
# overall fours and sixes
fours_df = temp_df[temp_df['batsman_run']==4]
six_df = temp_df[temp_df['batsman_run']==6]
print(len(fours_df))
len(six_df)

30

21

In [84]:
temp_df['is_four'] = np.where(temp_df['batsman_run']==4, 1, 0)
temp_df['is_six'] = np.where(temp_df['batsman_run']==6, 1, 0)

/tmp/ipykernel_25726/376973308.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['is_four'] = np.where(temp_df['batsman_run']==4, 1, 0)
/tmp/ipykernel_25726/376973308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['is_six'] = np.where(temp_df['batsman_run']==6, 1, 0)

In [85]:
total_run_by_batsman = temp_df.groupby('ID').agg({'batsman_run':sum,'is_six':sum,'is_four':sum})
total_run_by_batsman

         batsman_run  is_six  is_four
ID
1254058            8       0        1
1254067            1       0        0
1254079           31       2        0
1254083           31       1        2
1304085           16       1        0
1304089           52       2        5
1304095           21       1        1
1304100           48       2        4
1304106           26       2        1
1312198          112       7       12
1312199           58       3        4

In [86]:
unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()
unique_combinations

            ID       Date                  BattingTeam
244    1312199 2022-05-27  Royal Challengers Bangalore
475    1312198 2022-05-25  Royal Challengers Bangalore
3573   1304106 2022-05-13  Royal Challengers Bangalore
4801   1304100 2022-05-08  Royal Challengers Bangalore
6073   1304095 2022-05-04  Royal Challengers Bangalore
7498   1304089 2022-04-30  Royal Challengers Bangalore
8609   1304085 2022-04-26  Royal Challengers Bangalore
26171  1254083 2021-04-30  Royal Challengers Bangalore
27011  1254079 2021-04-27  Royal Challengers Bangalore
29900  1254067 2021-04-18  Royal Challengers Bangalore
32239  1254058 2021-04-09  Royal Challengers Bangalore

In [87]:
batsman_run_record = unique_combinations.merge(total_run_by_batsman, on='ID')
batsman_run_record['year'] = batsman_run_record['Date'].dt.year
batsman_run_record

,ID,Date,BattingTeam,batsman_run,is_six,is_four,year
0,1312199,2022-05-27,Royal Challengers Bangalore,58,3,4,2022
1,1312198,2022-05-25,Royal Challengers Bangalore,112,7,12,2022
2,1304106,2022-05-13,Royal Challengers Bangalore,26,2,1,2022
3,1304100,2022-05-08,Royal Challengers Bangalore,48,2,4,2022
4,1304095,2022-05-04,Royal Challengers Bangalore,21,1,1,2022
5,1304089,2022-04-30,Royal Challengers Bangalore,52,2,5,2022
6,1304085,2022-04-26,Royal Challengers Bangalore,16,1,0,2022
7,1254083,2021-04-30,Royal Challengers Bangalore,31,1,2,2021
8,1254079,2021-04-27,Royal Challengers Bangalore,31,2,0,2021
9,1254067,2021-04-18,Royal Challengers Bangalore,1,0,0,2021
10,1254058,2021-04-09,Royal Challengers Bangalore,8,0,1,2021

In [88]:
grouped_by_year = batsman_run_record.groupby('year')
for year, group in grouped_by_year:
    #print(group)
    
    group_by_team = group.groupby('BattingTeam')
    for team, team_group in group_by_team:
        #print(team_group)
        
        group_by_date = team_group.groupby('Date')
        for date, date_group in group_by_date:
            #print(date_group)
            total_runs = date_group['batsman_run'].sum()
            match_fours = date_group['is_four']
            match_six = date_group['is_six']
            #print(match_fours)
            #print(match_six)

In [89]:
batsman_run_record['batsman_run'].max()
batsman_run_record['batsman_run'].min()
batsman_run_record['batsman_run'].mean()
batsman_run_record['batsman_run'].sum()

404

In [90]:
def batsman_record(batsman_name):
    
    # player of the match
    player_of_match_df = df_matches[df_matches['Player_of_Match'] == batsman_name]
    no_of_player_match = len(player_of_match_df)
    
    # how many matches played
    matchwise_teamplayer = df_matches['Team1Players'] + df_matches['Team2Players']
    match_count=0
    for player_list in matchwise_teamplayer:
        if batsman_name in player_list:
            match_count += 1
    
    temp_df = ball_match[ball_match['batter'] == batsman_name]
    
    # fours-sixes details
    fours_df = temp_df[temp_df['batsman_run']==4]
    six_df = temp_df[temp_df['batsman_run']==6]
    
    temp_df['is_four'] = np.where(temp_df['batsman_run']==4, 1, 0)
    temp_df['is_six'] = np.where(temp_df['batsman_run']==6, 1, 0)

    total_run_by_batsman = temp_df.groupby('ID').agg({'batsman_run':sum,'is_six':sum,'is_four':sum})
    
    unique_combinations = temp_df[['ID','Date', 'BattingTeam']].drop_duplicates()
    
    batsman_run_record = unique_combinations.merge(total_run_by_batsman, on='ID')
    batsman_run_record['year'] = batsman_run_record['Date'].dt.year
    
    record = {}
    
    grouped_by_year = batsman_run_record.groupby('year')
    
    for year, group in grouped_by_year:
        record[str(year)] = {}
        group_by_team = group.groupby('BattingTeam')
        
        for team, team_group in group_by_team:
            record[str(year)][team] = {}
            group_by_date = team_group.groupby('Date')
            
            for date, date_group in group_by_date:
                total_runs = date_group['batsman_run'].sum()
                match_fours = date_group['is_four'].sum()
                match_six = date_group['is_six'].sum()
            
                record[str(year)][team][str(date.date())] = {
                    'runs': str(total_runs),
                    'fours': str(match_fours),
                    'sixes': str(match_six)
                }
                
    return {
        'overall summary':{
            'total matches played':str(match_count),
            'total runs':str(batsman_run_record['batsman_run'].sum()),
            'total Player of Match': str(no_of_player_match),
            'maximum runs':str(batsman_run_record['batsman_run'].max()),
            'minimum runs':str(batsman_run_record['batsman_run'].min()),
            'average runs':str(round(batsman_run_record['batsman_run'].mean(), 2)),
            'fours': str(len(fours_df)),
            'sixes': str(len(six_df))
        },
        
        'matchwise summary':record
    }

In [91]:
#batsman_record('RM Patidar')

## Team Record

```
{
    'team1':  {
        'total matches':30
        'winnings': 22,
        'draw':2

        },
    'team2':  {
        'total matches':30
        'winnings': 22,
        'draw':2

        }

}
```

In [92]:
# team_vs_team winnings record

def team_vs_team(team1,team2):
    
    temp_df = df_matches[((df_matches['Team1']==team1) & (df_matches['Team2']==team2)) | (df_matches['Team1']==team2) & (df_matches['Team2']==team1)]

    total_matches = len(temp_df) 
    
    matches_won_team1 = sum(temp_df['WinningTeam']==team1)
    matches_won_team2 = sum(temp_df['WinningTeam']==team2)

    draws = total_matches - (matches_won_team1 + matches_won_team2)
    return {
        'total_matches': str(total_matches),
        'winnnings':{team1: str(matches_won_team1), team2: str(matches_won_team2)},
        'draws': str(draws)
    }

In [93]:
def number_of_winnings(team):
    temp_df = df_matches[(df_matches['Team1']==team) | (df_matches['Team2']==team)]
    total = len(temp_df)
    won = len(temp_df[temp_df['WinningTeam']==team])
    return {
        'total matches played':str(total),
        'number of winnings': str(won)
    }

In [94]:
# merge `team vs team` and `teamwise winnning details` functions that created above
# add the no. of final matches played
team_name = 'Kolkata Knight Riders'

In [95]:
final_temp_df = df_matches[df_matches['MatchNumber'] == 'Final']
final_temp_df['Team1'] == team_name

0      False
74     False
134    False
194    False
254    False
314    False
373    False
433    False
492     True
552    False
628     True
702    False
775    False
835    False
892    False
Name: Team1, dtype: bool

In [96]:
final_match_df = final_temp_df[(final_temp_df['Team1'] == team_name) | (final_temp_df['Team2'] == team_name)]
final_match_df

print(len(final_match_df))
sum(final_match_df['WinningTeam']==team_name) # no of winnings in final match

3

2

In [97]:
def team_record(given_team):
    
    # winning history of the team
    all_teams = list(set(ball_match['BattingTeam']))
    winning_hist = number_of_winnings(given_team)
    
    # winning history of the team in final match
    final_temp_df = df_matches[df_matches['MatchNumber'] == 'Final']
    final_match_df = final_temp_df[(final_temp_df['Team1'] == given_team) | (final_temp_df['Team2'] == given_team)]
    
    total_final_match = len(final_match_df)
    winnings_in_final_match = sum(final_match_df['WinningTeam']==given_team)
    
    winning_hist['total final matches played'] = str(total_final_match)
    winning_hist['number of final match winnings'] = str(winnings_in_final_match)
    
    record = {}
    for other_team in all_teams:
        if other_team != given_team:
            record[str(other_team)] = team_vs_team(given_team,other_team)
            
    return {
        'overall summary':winning_hist,
        'teamwise summary':record
    }

In [98]:
#team_record('Mumbai Indians')

### Highest Run in every IPL season

In [99]:
ball_match['Date'].dt.year==2020

0         False
1         False
2         False
3         False
4         False
          ...
225949    False
225950    False
225951    False
225952    False
225953    False
Name: Date, Length: 225954, dtype: bool

In [100]:
#ball_match.info()

In [101]:
ball_match['extra_type'].value_counts()

wides      7025
legbyes    3531
noballs     908
byes        583
penalty       2
Name: extra_type, dtype: int64

#### Since `batsman_run` excludes the `extra_type` runs (`extras_run`) 
#### Don't need to do this...

```
year = 2020
temp_df = ball_match[(ball_match['Date'].dt.year==year) & (ball_match['extra_type'] !='wides')
                    & (ball_match['extra_type'] !='legbyes') & (ball_match['extra_type'] !='noballs')
                    & (ball_match['extra_type'] !='byes')]
temp_df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False)
```

In [102]:
# batter-wise groupby, then sum on `batsman_run`

year = 2020
temp_df = ball_match[ball_match['Date'].dt.year==year]
temp_df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False)

batter
KL Rahul          676
S Dhawan          618
DA Warner         548
SS Iyer           519
Ishan Kishan      516
                 ...
SS Cottrell         0
B Kumar             0
Arshdeep Singh      0
SP Goswami          0
KK Ahmed            0
Name: batsman_run, Length: 133, dtype: int64

In [103]:
temp_df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False)[0]

676

In [104]:
temp_df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).index[0]

'KL Rahul'

In [105]:
temp_df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).values[0]

676

In [106]:
top_batsman_group = temp_df.groupby('batter')['batsman_run']
top_batsman_group.sum().sort_values(ascending=False).index[0]

'KL Rahul'

In [107]:
# Let's create a function
def top_batsman_yearwise(year,top_k=1):

    temp_df = ball_match[ball_match['Date'].dt.year==year]
    top_batsman_group = temp_df.groupby('batter')['batsman_run']

    if top_k==1:
        batsman = top_batsman_group.sum().sort_values(ascending=False).index[0]
        runs = top_batsman_group.sum().sort_values(ascending=False).values[0]
        return {
            'batsman':batsman,
            'total_runs':runs
        }
    else:
        batsmans = list(top_batsman_group.sum().sort_values(ascending=False).index[:top_k])
        runs = list(top_batsman_group.sum().sort_values(ascending=False).values[:top_k])
        return {
            'batsmans':batsmans,
            'total_runs':runs
        }

In [108]:
top_batsman_yearwise(2021,5)

{'batsmans': ['RD Gaikwad',
  'F du Plessis',
  'KL Rahul',
  'S Dhawan',
  'GJ Maxwell'],
 'total_runs': [635, 633, 626, 587, 513]}

In [109]:
top_batsman_yearwise(2020)

{'batsman': 'KL Rahul', 'total_runs': 676}

In [110]:
def top_batsman_yearwise(year,top_k=1):

    temp_df = ball_match[ball_match['Date'].dt.year==year]
    top_batsman_group = temp_df.groupby('batter')['batsman_run']
    
    batsmans = list(top_batsman_group.sum().sort_values(ascending=False).index[:top_k])
    runs = list(top_batsman_group.sum().sort_values(ascending=False).values[:top_k])
        
    return {
        'batsmans':batsmans,
        'total_runs':runs
    }

In [111]:
top_batsman_yearwise(2020)

{'batsmans': ['KL Rahul'], 'total_runs': [676]}

In [112]:
def top_batsman_yearwise(year: int, top_k: int = 1):
    
    temp_df = ball_match[ball_match['Date'].dt.year == year]
    top_batsman_group = temp_df.groupby('batter')['batsman_run']

    batsmans = list(top_batsman_group.sum().sort_values(ascending=False).index[:top_k])
    runs = list(top_batsman_group.sum().sort_values(ascending=False).values[:top_k])

    result = {batsmans[i]: str(runs[i]) for i in range(len(batsmans))}
    return result

In [113]:
top_batsman_yearwise(2020,2)

{'KL Rahul': '676', 'S Dhawan': '618'}

In [114]:
# Store the result into a list of dictionaries

def top_batsman_yearwise(year: int, top_k: int = 1):
    """
    Returns the top batsmen and their respective runs for a given year.
    
    Args:
        year (int): The year for which the data is to be retrieved.
        top_k (int, optional): The number of top batsmen to return. Defaults to 1.
    
    Returns:
        dict: A dictionary containing the top batsmen and their respective runs.
    """
    temp_df = ball_match[ball_match['Date'].dt.year == year]
    top_batsman_group = temp_df.groupby('batter')['batsman_run']
    
    batsmans = list(top_batsman_group.sum().sort_values(ascending=False).index[:top_k])
    runs = list(top_batsman_group.sum().sort_values(ascending=False).values[:top_k])
    
    result = [{batsmans[i]: str(runs[i])} for i in range(len(batsmans))]
    return {
        'top_batsmans': result
    }

In [115]:
top_batsman_yearwise(2020,3)

{'top_batsmans': [{'KL Rahul': '676'},
  {'S Dhawan': '618'},
  {'DA Warner': '548'}]}

### Highest wicket taken in every IPL season

In [116]:
#ball_match.info()

In [117]:
ball_match['isWicketDelivery'].value_counts()

0    214803
1     11151
Name: isWicketDelivery, dtype: int64

In [118]:
ball_match['kind'].value_counts()

caught                   6837
bowled                   1944
run out                  1007
lbw                       685
stumped                   325
caught and bowled         323
hit wicket                 14
retired hurt               13
obstructing the field       2
retired out                 1
Name: kind, dtype: int64

In [119]:
year = 2018
temp_df = ball_match[(ball_match['Date'].dt.year==year) & (ball_match['kind'] !='run out') 
                     & (ball_match['kind'] !='hit wicket') & (ball_match['kind'] !='obstructing the field') 
                    & (ball_match['kind'] !='retired hurt') & (ball_match['kind'] !='retired out')]

In [120]:
temp_df['isWicketDelivery'].value_counts()

0    13564
1      662
Name: isWicketDelivery, dtype: int64

In [121]:
temp_df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False)[:5]

bowler
AJ Tye         24
S Kaul         21
Rashid Khan    21
UT Yadav       20
HH Pandya      18
Name: isWicketDelivery, dtype: int64

In [122]:
list(temp_df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).index[:5])

['AJ Tye', 'S Kaul', 'Rashid Khan', 'UT Yadav', 'HH Pandya']

In [123]:
top_bowler_group = temp_df.groupby('bowler')['isWicketDelivery']
top_bowler_group.sum().max()

24

In [124]:
# Let's create a function
def top_bowler_yearwise(year,top_k=1):
    
    temp_df = ball_match[(ball_match['Date'].dt.year==year) & (ball_match['kind'] !='run out') 
                     & (ball_match['kind'] !='hit wicket') & (ball_match['kind'] !='obstructing the field') 
                    & (ball_match['kind'] !='retired hurt') & (ball_match['kind'] !='retired out')]
    
    top_bowler_group = temp_df.groupby('bowler')['isWicketDelivery']
    
    if top_k==1:
        bowlers = top_bowler_group.sum().sort_values(ascending=False).index[0]
        wickets = top_bowler_group.sum().sort_values(ascending=False).values[0]
    else:
        bowlers = list(top_bowler_group.sum().sort_values(ascending=False).index[:top_k])
        wickets = list(top_bowler_group.sum().sort_values(ascending=False).values[:top_k])
        
    return {
            'bowlers':bowlers,
            'total_wickets':wickets
        }

In [125]:
top_bowler_yearwise(2020,5)

{'bowlers': ['K Rabada', 'JJ Bumrah', 'TA Boult', 'A Nortje', 'YS Chahal'],
 'total_wickets': [32, 29, 25, 22, 21]}

In [126]:
top_bowler_yearwise(2018)['bowlers']

'AJ Tye'

In [127]:
# Let's create a function
def top_bowler_yearwise(year,top_k=1):
    
    temp_df = ball_match[(ball_match['Date'].dt.year==year) & (ball_match['kind'] !='run out') 
                     & (ball_match['kind'] !='hit wicket') & (ball_match['kind'] !='obstructing the field') 
                    & (ball_match['kind'] !='retired hurt') & (ball_match['kind'] !='retired out')]
    
    top_bowler_group = temp_df.groupby('bowler')['isWicketDelivery']
    bowlers = list(top_bowler_group.sum().sort_values(ascending=False).index[:top_k])
    wickets = list(top_bowler_group.sum().sort_values(ascending=False).values[:top_k])
        
    return {
            'bowlers':bowlers,
            'total_wickets':wickets
        }

In [128]:
top_bowler_yearwise(2018,5)

{'bowlers': ['AJ Tye', 'S Kaul', 'Rashid Khan', 'UT Yadav', 'HH Pandya'],
 'total_wickets': [24, 21, 21, 20, 18]}

In [129]:
# have to modify the above function such that the results format is: {'AJ Tye':'24','S Kaul':'21'}
def top_bowler_yearwise(year,top_k=1):
    
    temp_df = ball_match[(ball_match['Date'].dt.year==year) & (ball_match['kind'] !='run out') 
                     & (ball_match['kind'] !='hit wicket') & (ball_match['kind'] !='obstructing the field') 
                    & (ball_match['kind'] !='retired hurt') & (ball_match['kind'] !='retired out')]
    
    top_bowler_group = temp_df.groupby('bowler')['isWicketDelivery']
    bowlers = list(top_bowler_group.sum().sort_values(ascending=False).index[:top_k])
    wickets = list(top_bowler_group.sum().sort_values(ascending=False).values[:top_k])
        
    result = {bowlers[i]: str(wickets[i]) for i in range(len(bowlers))}
    return result

In [130]:
top_bowler_yearwise(2018,10)

{'AJ Tye': '24',
 'S Kaul': '21',
 'Rashid Khan': '21',
 'UT Yadav': '20',
 'HH Pandya': '18',
 'TA Boult': '18',
 'Kuldeep Yadav': '17',
 'JJ Bumrah': '17',
 'SP Narine': '17',
 'SN Thakur': '16'}

In [131]:
def top_bowler_yearwise(year: int, top_k: int = 1):

    temp_df = ball_match[
        (ball_match['Date'].dt.year == year) &
        (ball_match['kind'] != 'run out') &
        (ball_match['kind'] != 'hit wicket') &
        (ball_match['kind'] != 'obstructing the field') &
        (ball_match['kind'] != 'retired hurt') &
        (ball_match['kind'] != 'retired out')
    ]

    top_bowler_group = temp_df.groupby('bowler')['isWicketDelivery']
    bowlers = list(top_bowler_group.sum().sort_values(ascending=False).index[:top_k])
    wickets = list(top_bowler_group.sum().sort_values(ascending=False).values[:top_k])

    result = {bowlers[i]: str(wickets[i]) for i in range(len(bowlers))}
    return result

In [132]:
top_bowler_yearwise(2018,5)

{'AJ Tye': '24',
 'S Kaul': '21',
 'Rashid Khan': '21',
 'UT Yadav': '20',
 'HH Pandya': '18'}

In [133]:
from collections import OrderedDict

def top_bowler_yearwise(year: int, top_k: int = 1):
    temp_df = ball_match[
        (ball_match['Date'].dt.year == year) &
        (ball_match['kind'] != 'run out') &
        (ball_match['kind'] != 'hit wicket') &
        (ball_match['kind'] != 'obstructing the field') &
        (ball_match['kind'] != 'retired hurt') &
        (ball_match['kind'] != 'retired out')
    ]
    
    top_bowler_group = temp_df.groupby('bowler')['isWicketDelivery']
    bowlers = list(top_bowler_group.sum().sort_values(ascending=False).index[:top_k])
    wickets = list(top_bowler_group.sum().sort_values(ascending=False).values[:top_k])
    
    result = OrderedDict(zip(bowlers, map(str, wickets)))
    return result

top_bowler_yearwise(2018, 5)

## did not affect the ordering; after jsonify order changes; so we will store in a list

OrderedDict([('AJ Tye', '24'),
             ('S Kaul', '21'),
             ('Rashid Khan', '21'),
             ('UT Yadav', '20'),
             ('HH Pandya', '18')])

In [134]:
# store the result into a list of dict

def top_bowler_yearwise(year: int, top_k: int = 1):
    """
    Returns the top bowlers and their corresponding wickets in a given year.
    
    Args:
        year (int): The year for which the top bowlers are to be determined.
        top_k (int, optional): The number of top bowlers to be returned. Defaults to 1.
        
    Returns:
        dict: A dictionary containing the top bowlers and their wickets.
    """
    temp_df = ball_match[
        (ball_match['Date'].dt.year == year) &
        (ball_match['kind'] != 'run out') &
        (ball_match['kind'] != 'hit wicket') &
        (ball_match['kind'] != 'obstructing the field') &
        (ball_match['kind'] != 'retired hurt') &
        (ball_match['kind'] != 'retired out')
    ]
    
    top_bowler_group = temp_df.groupby('bowler')['isWicketDelivery']
    bowlers = list(top_bowler_group.sum().sort_values(ascending=False).index[:top_k])
    wickets = list(top_bowler_group.sum().sort_values(ascending=False).values[:top_k])

    result = [{bowlers[i]: str(wickets[i])} for i in range(len(bowlers))]
    return {
        'top_bowlers': result
    }

In [135]:
top_bowler_yearwise(2018, 5)

{'top_bowlers': [{'AJ Tye': '24'},
  {'S Kaul': '21'},
  {'Rashid Khan': '21'},
  {'UT Yadav': '20'},
  {'HH Pandya': '18'}]}

## Checking the API

In [138]:
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/top-batsmans?season=2012&n=5"
response = requests.get(API_URL)
data = response.json()

In [141]:
data

{'top_batsmans': [{'CH Gayle': '733'},
  {'G Gambhir': '590'},
  {'S Dhawan': '569'},
  {'AM Rahane': '560'},
  {'V Sehwag': '495'}]}

In [145]:
# Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/top-batsmans?season=2008&n=5"
response = requests.get(API_URL)
response.json()

{'top_batsmans': [{'SE Marsh': '616'},
  {'G Gambhir': '534'},
  {'ST Jayasuriya': '514'},
  {'SR Watson': '472'},
  {'GC Smith': '441'}]}

In [146]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/top-bowlers?season=2008&n=5"
response = requests.get(API_URL)
response.json()

{'top_bowlers': [{'Sohail Tanvir': '22'},
  {'SK Warne': '19'},
  {'SR Watson': '17'},
  {'S Sreesanth': '17'},
  {'PP Chawla': '17'}]}

In [151]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/teams"
response = requests.get(API_URL)
response.json()

{'teams': ['Rajasthan Royals',
  'Gujarat Titans',
  'Royal Challengers Bangalore',
  'Lucknow Super Giants',
  'Sunrisers Hyderabad',
  'Punjab Kings',
  'Delhi Capitals',
  'Mumbai Indians',
  'Chennai Super Kings',
  'Kolkata Knight Riders',
  'Kings XI Punjab',
  'Delhi Daredevils',
  'Rising Pune Supergiant',
  'Gujarat Lions',
  'Rising Pune Supergiants',
  'Pune Warriors',
  'Deccan Chargers',
  'Kochi Tuskers Kerala']}

In [154]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/overall-winnings"
response = requests.get(API_URL)
response.json()

{'winning details of all teams': {'Chennai Super Kings': '121',
  'Deccan Chargers': '29',
  'Delhi Capitals': '36',
  'Delhi Daredevils': '67',
  'Gujarat Lions': '13',
  'Gujarat Titans': '12',
  'Kings XI Punjab': '88',
  'Kochi Tuskers Kerala': '6',
  'Kolkata Knight Riders': '114',
  'Lucknow Super Giants': '9',
  'Mumbai Indians': '131',
  'Pune Warriors': '12',
  'Punjab Kings': '13',
  'Rajasthan Royals': '96',
  'Rising Pune Supergiant': '10',
  'Rising Pune Supergiants': '5',
  'Royal Challengers Bangalore': '109',
  'Sunrisers Hyderabad': '75'}}

In [155]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/teamwise-winnings?team=Kolkata Knight Riders"
response = requests.get(API_URL)
response.json()

{'number of winnings': '114', 'total matches played': '223'}

In [150]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/teamvsteam-winnings?team1=Rajasthan Royals&team2=Kolkata Knight Riders"
response = requests.get(API_URL)
response.json()

{'draws': '0',
 'total_matches': '26',
 'winnnings': {'Kolkata Knight Riders': '14', 'Rajasthan Royals': '12'}}

In [159]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/seasonwise-teamplayers?team=Kolkata Knight Riders&season=2020"
response = requests.get(API_URL)
response.json()

{'players': ['Shubman Gill',
  'Shivam Mavi',
  'Kuldeep Yadav',
  'CJ Green',
  'NS Naik',
  'KL Nagarkoti',
  'RA Tripathi',
  'N Rana',
  'EJG Morgan',
  'RK Singh',
  'KD Karthik',
  'M Prasidh Krishna',
  'T Banton',
  'S Sandeep Warrier',
  'SP Narine',
  'PJ Cummins',
  'CV Varun',
  'AD Russell',
  'LH Ferguson']}

In [160]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/bowler-record?bowler=JJ Bumrah"
response = requests.get(API_URL)
response.json()

{'matchwise summary': {'2013': {'Delhi Daredevils': {'2013-04-21': {'runs': '35',
     'wickets': '0'}},
   'Royal Challengers Bangalore': {'2013-04-04': {'runs': '32',
     'wickets': '3'}}},
  '2014': {'Chennai Super Kings': {'2014-05-10': {'runs': '32',
     'wickets': '0'},
    '2014-05-28': {'runs': '39', 'wickets': '0'}},
   'Delhi Daredevils': {'2014-05-23': {'runs': '36', 'wickets': '0'}},
   'Kings XI Punjab': {'2014-05-03': {'runs': '21', 'wickets': '0'},
    '2014-05-21': {'runs': '31', 'wickets': '3'}},
   'Kolkata Knight Riders': {'2014-05-14': {'runs': '23', 'wickets': '0'}},
   'Rajasthan Royals': {'2014-05-19': {'runs': '21', 'wickets': '0'},
    '2014-05-25': {'runs': '29', 'wickets': '1'}},
   'Royal Challengers Bangalore': {'2014-04-19': {'runs': '14',
     'wickets': '0'},
    '2014-05-06': {'runs': '22', 'wickets': '2'}},
   'Sunrisers Hyderabad': {'2014-05-12': {'runs': '24', 'wickets': '0'}}},
  '2015': {'Delhi Daredevils': {'2015-04-23': {'runs': '55', 'wickets': '1'}},
   'Kolkata Knight Riders': {'2015-04-08': {'runs': '37', 'wickets': '1'}},
   'Royal Challengers Bangalore': {'2015-04-19': {'runs': '34',
     'wickets': '1'},
    '2015-05-10': {'runs': '50', 'wickets': '0'}}},
  '2016': {'Delhi Daredevils': {'2016-04-23': {'runs': '40', 'wickets': '0'},
    '2016-05-15': {'runs': '13', 'wickets': '3'}},
   'Gujarat Lions': {'2016-04-16': {'runs': '30', 'wickets': '2'},
    '2016-05-21': {'runs': '39', 'wickets': '1'}},
   'Kings XI Punjab': {'2016-04-25': {'runs': '26', 'wickets': '3'},
    '2016-05-13': {'runs': '12', 'wickets': '0'}},
   'Kolkata Knight Riders': {'2016-04-13': {'runs': '32', 'wickets': '1'},
    '2016-04-28': {'runs': '34', 'wickets': '0'}},
   'Rising Pune Supergiants': {'2016-04-09': {'runs': '29', 'wickets': '0'},
    '2016-05-01': {'runs': '29', 'wickets': '3'}},
   'Royal Challengers Bangalore': {'2016-04-20': {'runs': '31',
     'wickets': '4'},
    '2016-05-11': {'runs': '28', 'wickets': '1'}},
   'Sunrisers Hyderabad': {'2016-04-18': {'runs': '18', 'wickets': '0'},
    '2016-05-08': {'runs': '35', 'wickets': '0'}}},
  '2017': {'Delhi Daredevils': {'2017-04-22': {'runs': '20', 'wickets': '2'},
    '2017-05-06': {'runs': '6', 'wickets': '1'}},
   'Gujarat Lions': {'2017-04-16': {'runs': '44', 'wickets': '0'},
    '2017-04-29': {'runs': '31', 'wickets': '3'}},
   'Kings XI Punjab': {'2017-04-20': {'runs': '28', 'wickets': '1'},
    '2017-05-11': {'runs': '24', 'wickets': '1'}},
   'Kolkata Knight Riders': {'2017-04-09': {'runs': '37', 'wickets': '1'},
    '2017-05-19': {'runs': '7', 'wickets': '3'}},
   'Rising Pune Supergiant': {'2017-04-06': {'runs': '29', 'wickets': '0'},
    '2017-04-24': {'runs': '29', 'wickets': '2'},
    '2017-05-16': {'runs': '33', 'wickets': '1'},
    '2017-05-21': {'runs': '26', 'wickets': '2'}},
   'Royal Challengers Bangalore': {'2017-04-14': {'runs': '38',
     'wickets': '1'},
    '2017-05-01': {'runs': '33', 'wickets': '1'}},
   'Sunrisers Hyderabad': {'2017-04-12': {'runs': '24', 'wickets': '3'},
    '2017-05-08': {'runs': '23', 'wickets': '1'}}},
  '2018': {'Chennai Super Kings': {'2018-04-07': {'runs': '36',
     'wickets': '1'},
    '2018-04-28': {'runs': '24', 'wickets': '0'}},
   'Delhi Daredevils': {'2018-04-14': {'runs': '27', 'wickets': '0'},
    '2018-05-20': {'runs': '26', 'wickets': '1'}},
   'Kings XI Punjab': {'2018-05-04': {'runs': '19', 'wickets': '1'},
    '2018-05-16': {'runs': '14', 'wickets': '3'}},
   'Kolkata Knight Riders': {'2018-05-06': {'runs': '34', 'wickets': '1'},
    '2018-05-09': {'runs': '17', 'wickets': '1'}},
   'Rajasthan Royals': {'2018-04-22': {'runs': '27', 'wickets': '2'},
    '2018-05-13': {'runs': '29', 'wickets': '1'}},
   'Royal Challengers Bangalore': {'2018-04-17': {'runs': '27',
     'wickets': '2'},
    '2018-05-01': {'runs': '22', 'wickets': '1'}},
   'Sunrisers Hyderabad': {'2018-04-12': {'runs': '32', 'wickets': '2'},
    '2018-04-24': {'runs': '25', 'wickets': '1'}}},
  '2019': {'Chennai Super Kings': {'2019-04-03': {'runs': '26',
     'wickets': '0'},
    '2019-04-26': {'runs': '9', 'wickets': '2'},
    '2019-05-07': {'runs': '30', 'wickets': '0'},
    '2019-05-12': {'runs': '14', 'wickets': '2'}},
   'Delhi Capitals': {'2019-03-24': {'runs': '40', 'wickets': '1'},
    '2019-04-18': {'runs': '18', 'wickets': '3'}},
   'Kings XI Punjab': {'2019-03-30': {'runs': '23', 'wickets': '0'},
    '2019-04-10': {'runs': '36', 'wickets': '1'}},
   'Kolkata Knight Riders': {'2019-04-28': {'runs': '42', 'wickets': '0'},
    '2019-05-05': {'runs': '30', 'wickets': '2'}},
   'Rajasthan Royals': {'2019-04-13': {'runs': '23', 'wickets': '2'},
    '2019-04-20': {'runs': '21', 'wickets': '1'}},
   'Royal Challengers Bangalore': {'2019-03-28': {'runs': '19',
     'wickets': '4'},
    '2019-04-15': {'runs': '22', 'wickets': '0'}},
   'Sunrisers Hyderabad': {'2019-04-06': {'runs': '16', 'wickets': '1'},
    '2019-05-02': {'runs': '39', 'wickets': '4'}}},
  '2020': {'Chennai Super Kings': {'2020-09-19': {'runs': '41',
     'wickets': '1'},
    '2020-10-23': {'runs': '25', 'wickets': '2'}},
   'Delhi Capitals': {'2020-10-11': {'runs': '26', 'wickets': '0'},
    '2020-10-31': {'runs': '16', 'wickets': '4'},
    '2020-11-05': {'runs': '13', 'wickets': '4'},
    '2020-11-10': {'runs': '28', 'wickets': '0'}},
   'Kings XI Punjab': {'2020-10-01': {'runs': '18', 'wickets': '2'},
    '2020-10-18': {'runs': '28', 'wickets': '5'}},
   'Kolkata Knight Riders': {'2020-09-23': {'runs': '31', 'wickets': '2'},
    '2020-10-16': {'runs': '21', 'wickets': '1'}},
   'Rajasthan Royals': {'2020-10-06': {'runs': '20', 'wickets': '4'},
    '2020-10-25': {'runs': '37', 'wickets': '0'}},
   'Royal Challengers Bangalore': {'2020-09-28': {'runs': '52',
     'wickets': '0'},
    '2020-10-28': {'runs': '13', 'wickets': '3'}},
   'Sunrisers Hyderabad': {'2020-10-04': {'runs': '39', 'wickets': '2'}}},
  '2021': {'Chennai Super Kings': {'2021-05-01': {'runs': '53',
     'wickets': '1'},
    '2021-09-19': {'runs': '31', 'wickets': '2'}},
   'Delhi Capitals': {'2021-04-20': {'runs': '27', 'wickets': '1'},
    '2021-10-02': {'runs': '29', 'wickets': '1'}},
   'Kolkata Knight Riders': {'2021-04-13': {'runs': '27', 'wickets': '0'},
    '2021-09-23': {'runs': '38', 'wickets': '3'}},
   'Punjab Kings': {'2021-04-23': {'runs': '21', 'wickets': '0'},
    '2021-09-28': {'runs': '24', 'wickets': '2'}},
   'Rajasthan Royals': {'2021-04-29': {'runs': '15', 'wickets': '1'},
    '2021-10-05': {'runs': '13', 'wickets': '2'}},
   'Royal Challengers Bangalore': {'2021-04-09': {'runs': '26',
     'wickets': '3'},
    '2021-09-26': {'runs': '34', 'wickets': '3'}},
   'Sunrisers Hyderabad': {'2021-04-17': {'runs': '14', 'wickets': '1'},
    '2021-10-08': {'runs': '32', 'wickets': '2'}}},
  '2022': {'Chennai Super Kings': {'2022-04-21': {'runs': '27',
     'wickets': '0'},
    '2022-05-12': {'runs': '12', 'wickets': '1'}},
   'Delhi Capitals': {'2022-03-27': {'runs': '43', 'wickets': '0'},
    '2022-05-21': {'runs': '25', 'wickets': '3'}},
   'Gujarat Titans': {'2022-05-06': {'runs': '48', 'wickets': '0'}},
   'Kolkata Knight Riders': {'2022-04-06': {'runs': '26', 'wickets': '0'},
    '2022-05-09': {'runs': '10', 'wickets': '5'}},
   'Lucknow Super Giants': {'2022-04-16': {'runs': '22', 'wickets': '0'},
    '2022-04-24': {'runs': '31', 'wickets': '1'}},
   'Punjab Kings': {'2022-04-13': {'runs': '26', 'wickets': '1'}},
   'Rajasthan Royals': {'2022-04-02': {'runs': '17', 'wickets': '4'},
    '2022-04-30': {'runs': '26', 'wickets': '0'}},
   'Royal Challengers Bangalore': {'2022-04-09': {'runs': '31',
     'wickets': '0'}},
   'Sunrisers Hyderabad': {'2022-05-17': {'runs': '32', 'wickets': '1'}}}},
 'overall summary': {'average runs conceded': '27.48',
  'maximum runs conceded': '55',
  'minimum runs conceded': '6',
  'total Player of Match': '8',
  'total matches played': '120',
  'total wickets': '161'}}

In [161]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/batsman-record?batsman=MS Dhoni"
response = requests.get(API_URL)
response.json()

{'matchwise summary': {'2008': {'Chennai Super Kings': {'2008-04-19': {'fours': '0',
     'runs': '2',
     'sixes': '0'},
    '2008-04-23': {'fours': '4', 'runs': '30', 'sixes': '1'},
    '2008-04-26': {'fours': '3', 'runs': '43', 'sixes': '2'},
    '2008-04-28': {'fours': '9', 'runs': '65', 'sixes': '3'},
    '2008-05-02': {'fours': '2', 'runs': '32', 'sixes': '1'},
    '2008-05-04': {'fours': '0', 'runs': '1', 'sixes': '0'},
    '2008-05-06': {'fours': '2', 'runs': '23', 'sixes': '0'},
    '2008-05-08': {'fours': '3', 'runs': '33', 'sixes': '0'},
    '2008-05-10': {'fours': '2', 'runs': '60', 'sixes': '4'},
    '2008-05-14': {'fours': '6', 'runs': '43', 'sixes': '1'},
    '2008-05-21': {'fours': '0', 'runs': '4', 'sixes': '0'},
    '2008-05-24': {'fours': '2', 'runs': '12', 'sixes': '0'},
    '2008-05-27': {'fours': '4', 'runs': '37', 'sixes': '1'},
    '2008-06-01': {'fours': '1', 'runs': '29', 'sixes': '2'}}},
  '2009': {'Chennai Super Kings': {'2009-04-18': {'fours': '1',
     'runs': '36',
     'sixes': '2'},
    '2009-04-20': {'fours': '0', 'runs': '16', 'sixes': '1'},
    '2009-04-23': {'fours': '0', 'runs': '5', 'sixes': '0'},
    '2009-04-27': {'fours': '1', 'runs': '22', 'sixes': '1'},
    '2009-04-30': {'fours': '0', 'runs': '22', 'sixes': '1'},
    '2009-05-02': {'fours': '0', 'runs': '6', 'sixes': '0'},
    '2009-05-04': {'fours': '6', 'runs': '58', 'sixes': '1'},
    '2009-05-07': {'fours': '7', 'runs': '56', 'sixes': '2'},
    '2009-05-14': {'fours': '1', 'runs': '18', 'sixes': '0'},
    '2009-05-16': {'fours': '2', 'runs': '23', 'sixes': '0'},
    '2009-05-18': {'fours': '4', 'runs': '40', 'sixes': '1'},
    '2009-05-20': {'fours': '0', 'runs': '2', 'sixes': '0'},
    '2009-05-23': {'fours': '0', 'runs': '28', 'sixes': '0'}}},
  '2010': {'Chennai Super Kings': {'2010-03-14': {'fours': '3',
     'runs': '42',
     'sixes': '2'},
    '2010-03-16': {'fours': '6', 'runs': '66', 'sixes': '3'},
    '2010-03-28': {'fours': '2', 'runs': '21', 'sixes': '0'},
    '2010-03-31': {'fours': '1', 'runs': '14', 'sixes': '0'},
    '2010-04-03': {'fours': '0', 'runs': '0', 'sixes': '0'},
    '2010-04-06': {'fours': '4', 'runs': '31', 'sixes': '0'},
    '2010-04-10': {'fours': '0', 'runs': '7', 'sixes': '0'},
    '2010-04-15': {'fours': '0', 'runs': '0', 'sixes': '0'},
    '2010-04-18': {'fours': '5', 'runs': '54', 'sixes': '2'},
    '2010-04-22': {'fours': '3', 'runs': '30', 'sixes': '0'},
    '2010-04-25': {'fours': '2', 'runs': '22', 'sixes': '1'}}},
  '2011': {'Chennai Super Kings': {'2011-04-08': {'fours': '1',
     'runs': '29',
     'sixes': '1'},
    '2011-04-13': {'fours': '4', 'runs': '43', 'sixes': '2'},
    '2011-04-16': {'fours': '1', 'runs': '22', 'sixes': '1'},
    '2011-04-18': {'fours': '1', 'runs': '14', 'sixes': '1'},
    '2011-04-22': {'fours': '0', 'runs': '3', 'sixes': '0'},
    '2011-04-25': {'fours': '2', 'runs': '26', 'sixes': '1'},
    '2011-05-01': {'fours': '1', 'runs': '21', 'sixes': '1'},
    '2011-05-09': {'fours': '3', 'runs': '41', 'sixes': '3'},
    '2011-05-12': {'fours': '5', 'runs': '63', 'sixes': '4'},
    '2011-05-18': {'fours': '1', 'runs': '9', 'sixes': '0'},
    '2011-05-22': {'fours': '3', 'runs': '70', 'sixes': '6'},
    '2011-05-24': {'fours': '3', 'runs': '29', 'sixes': '1'},
    '2011-05-28': {'fours': '0', 'runs': '22', 'sixes': '2'}}},
  '2012': {'Chennai Super Kings': {'2012-04-04': {'fours': '0',
     'runs': '4',
     'sixes': '0'},
    '2012-04-07': {'fours': '0', 'runs': '7', 'sixes': '0'},
    '2012-04-10': {'fours': '0', 'runs': '11', 'sixes': '0'},
    '2012-04-12': {'fours': '1', 'runs': '41', 'sixes': '2'},
    '2012-04-14': {'fours': '1', 'runs': '26', 'sixes': '0'},
    '2012-04-19': {'fours': '3', 'runs': '28', 'sixes': '1'},
    '2012-04-21': {'fours': '1', 'runs': '15', 'sixes': '0'},
    '2012-04-28': {'fours': '0', 'runs': '1', 'sixes': '0'},
    '2012-04-30': {'fours': '2', 'runs': '34', 'sixes': '0'},
    '2012-05-04': {'fours': '2', 'runs': '34', 'sixes': '0'},
    '2012-05-06': {'fours': '2', 'runs': '25', 'sixes': '1'},
    '2012-05-10': {'fours': '1', 'runs': '10', 'sixes': '0'},
    '2012-05-14': {'fours': '3', 'runs': '28', 'sixes': '1'},
    '2012-05-17': {'fours': '1', 'runs': '6', 'sixes': '0'},
    '2012-05-23': {'fours': '6', 'runs': '51', 'sixes': '2'},
    '2012-05-25': {'fours': '1', 'runs': '23', 'sixes': '2'},
    '2012-05-27': {'fours': '2', 'runs': '14', 'sixes': '0'}}},
  '2013': {'Chennai Super Kings': {'2013-04-06': {'fours': '5',
     'runs': '51',
     'sixes': '3'},
    '2013-04-13': {'fours': '1', 'runs': '33', 'sixes': '2'},
    '2013-04-15': {'fours': '0', 'runs': '10', 'sixes': '0'},
    '2013-04-18': {'fours': '5', 'runs': '44', 'sixes': '1'},
    '2013-04-20': {'fours': '0', 'runs': '9', 'sixes': '0'},
    '2013-04-22': {'fours': '1', 'runs': '21', 'sixes': '0'},
    '2013-04-25': {'fours': '7', 'runs': '67', 'sixes': '4'},
    '2013-04-28': {'fours': '1', 'runs': '18', 'sixes': '1'},
    '2013-04-30': {'fours': '4', 'runs': '45', 'sixes': '3'},
    '2013-05-02': {'fours': '0', 'runs': '2', 'sixes': '0'},
    '2013-05-05': {'fours': '1', 'runs': '10', 'sixes': '0'},
    '2013-05-08': {'fours': '0', 'runs': '4', 'sixes': '0'},
    '2013-05-12': {'fours': '0', 'runs': '2', 'sixes': '0'},
    '2013-05-14': {'fours': '2', 'runs': '58', 'sixes': '4'},
    '2013-05-18': {'fours': '2', 'runs': '24', 'sixes': '2'},
    '2013-05-26': {'fours': '3', 'runs': '63', 'sixes': '5'}}},
  '2014': {'Chennai Super Kings': {'2014-04-18': {'fours': '3',
     'runs': '26',
     'sixes': '1'},
    '2014-04-21': {'fours': '2', 'runs': '32', 'sixes': '2'},
    '2014-04-23': {'fours': '0', 'runs': '5', 'sixes': '0'},
    '2014-04-25': {'fours': '1', 'runs': '14', 'sixes': '1'},
    '2014-04-27': {'fours': '1', 'runs': '13', 'sixes': '0'},
    '2014-05-02': {'fours': '1', 'runs': '22', 'sixes': '1'},
    '2014-05-05': {'fours': '1', 'runs': '12', 'sixes': '1'},
    '2014-05-07': {'fours': '0', 'runs': '23', 'sixes': '1'},
    '2014-05-10': {'fours': '1', 'runs': '22', 'sixes': '1'},
    '2014-05-13': {'fours': '1', 'runs': '26', 'sixes': '1'},
    '2014-05-18': {'fours': '1', 'runs': '7', 'sixes': '0'},
    '2014-05-20': {'fours': '1', 'runs': '21', 'sixes': '1'},
    '2014-05-22': {'fours': '2', 'runs': '57', 'sixes': '4'},
    '2014-05-24': {'fours': '4', 'runs': '49', 'sixes': '3'},
    '2014-05-30': {'fours': '3', 'runs': '42', 'sixes': '3'}}},
  '2015': {'Chennai Super Kings': {'2015-04-09': {'fours': '1',
     'runs': '30',
     'sixes': '2'},
    '2015-04-11': {'fours': '4', 'runs': '53', 'sixes': '4'},
    '2015-04-17': {'fours': '0', 'runs': '3', 'sixes': '0'},
    '2015-04-19': {'fours': '4', 'runs': '31', 'sixes': '0'},
    '2015-04-22': {'fours': '2', 'runs': '13', 'sixes': '0'},
    '2015-04-25': {'fours': '2', 'runs': '41', 'sixes': '2'},
    '2015-04-28': {'fours': '0', 'runs': '3', 'sixes': '0'},
    '2015-04-30': {'fours': '0', 'runs': '1', 'sixes': '0'},
    '2015-05-02': {'fours': '2', 'runs': '20', 'sixes': '0'},
    '2015-05-04': {'fours': '2', 'runs': '29', 'sixes': '2'},
    '2015-05-08': {'fours': '2', 'runs': '39', 'sixes': '2'},
    '2015-05-10': {'fours': '1', 'runs': '13', 'sixes': '1'},
    '2015-05-12': {'fours': '3', 'runs': '27', 'sixes': '1'},
    '2015-05-16': {'fours': '2', 'runs': '25', 'sixes': '2'},
    '2015-05-19': {'fours': '0', 'runs': '0', 'sixes': '0'},
    '2015-05-22': {'fours': '1', 'runs': '26', 'sixes': '0'},
    '2015-05-24': {'fours': '1', 'runs': '18', 'sixes': '1'}}},
  '2016': {'Rising Pune Supergiants': {'2016-04-14': {'fours': '2',
     'runs': '22',
     'sixes': '1'},
    '2016-04-17': {'fours': '0', 'runs': '1', 'sixes': '0'},
    '2016-04-22': {'fours': '3', 'runs': '41', 'sixes': '0'},
    '2016-04-24': {'fours': '2', 'runs': '23', 'sixes': '1'},
    '2016-04-26': {'fours': '1', 'runs': '5', 'sixes': '0'},
    '2016-04-29': {'fours': '2', 'runs': '30', 'sixes': '2'},
    '2016-05-01': {'fours': '2', 'runs': '24', 'sixes': '0'},
    '2016-05-05': {'fours': '1', 'runs': '27', 'sixes': '2'},
    '2016-05-07': {'fours': '0', 'runs': '9', 'sixes': '1'},
    '2016-05-10': {'fours': '1', 'runs': '30', 'sixes': '2'},
    '2016-05-14': {'fours': '0', 'runs': '8', 'sixes': '0'},
    '2016-05-21': {'fours': '4', 'runs': '64', 'sixes': '5'}}},
  '2017': {'Rising Pune Supergiant': {'2017-04-06': {'fours': '1',
     'runs': '12',
     'sixes': '0'},
    '2017-04-08': {'fours': '0', 'runs': '5', 'sixes': '0'},
    '2017-04-11': {'fours': '0', 'runs': '11', 'sixes': '1'},
    '2017-04-14': {'fours': '0', 'runs': '5', 'sixes': '0'},
    '2017-04-16': {'fours': '3', 'runs': '28', 'sixes': '1'},
    '2017-04-22': {'fours': '5', 'runs': '61', 'sixes': '3'},
    '2017-04-24': {'fours': '0', 'runs': '7', 'sixes': '0'},
    '2017-04-26': {'fours': '1', 'runs': '23', 'sixes': '2'},
    '2017-04-29': {'fours': '1', 'runs': '21', 'sixes': '1'},
    '2017-05-01': {'fours': '1', 'runs': '26', 'sixes': '1'},
    '2017-05-03': {'fours': '0', 'runs': '5', 'sixes': '0'},
    '2017-05-06': {'fours': '2', 'runs': '31', 'sixes': '2'},
    '2017-05-12': {'fours': '0', 'runs': '5', 'sixes': '0'},
    '2017-05-16': {'fours': '0', 'runs': '40', 'sixes': '5'},
    '2017-05-21': {'fours': '1', 'runs': '10', 'sixes': '0'}}},
  '2018': {'Chennai Super Kings': {'2018-04-07': {'fours': '0',
     'runs': '5',
     'sixes': '0'},
    '2018-04-10': {'fours': '1', 'runs': '25', 'sixes': '1'},
    '2018-04-15': {'fours': '6', 'runs': '79', 'sixes': '5'},
    '2018-04-20': {'fours': '1', 'runs': '5', 'sixes': '0'},
    '2018-04-22': {'fours': '3', 'runs': '25', 'sixes': '1'},
    '2018-04-25': {'fours': '1', 'runs': '70', 'sixes': '7'},
    '2018-04-28': {'fours': '3', 'runs': '26', 'sixes': '1'},
    '2018-04-30': {'fours': '2', 'runs': '51', 'sixes': '5'},
    '2018-05-03': {'fours': '1', 'runs': '43', 'sixes': '4'},
    '2018-05-05': {'fours': '1', 'runs': '31', 'sixes': '3'},
    '2018-05-11': {'fours': '1', 'runs': '33', 'sixes': '1'},
    '2018-05-13': {'fours': '1', 'runs': '20', 'sixes': '1'},
    '2018-05-18': {'fours': '1', 'runs': '17', 'sixes': '0'},
    '2018-05-20': {'fours': '1', 'runs': '16', 'sixes': '1'},
    '2018-05-22': {'fours': '1', 'runs': '9', 'sixes': '0'}}},
  '2019': {'Chennai Super Kings': {'2019-03-26': {'fours': '2',
     'runs': '32',
     'sixes': '1'},
    '2019-03-31': {'fours': '4', 'runs': '75', 'sixes': '4'},
    '2019-04-03': {'fours': '0', 'runs': '12', 'sixes': '0'},
    '2019-04-06': {'fours': '4', 'runs': '37', 'sixes': '1'},
    '2019-04-11': {'fours': '2', 'runs': '58', 'sixes': '3'},
    '2019-04-14': {'fours': '0', 'runs': '16', 'sixes': '1'},
    '2019-04-21': {'fours': '5', 'runs': '84', 'sixes': '7'},
    '2019-05-01': {'fours': '4', 'runs': '44', 'sixes': '3'},
    '2019-05-05': {'fours': '0', 'runs': '10', 'sixes': '0'},
    '2019-05-07': {'fours': '0', 'runs': '37', 'sixes': '3'},
    '2019-05-10': {'fours': '1', 'runs': '9', 'sixes': '0'},
    '2019-05-12': {'fours': '0', 'runs': '2', 'sixes': '0'}}},
  '2020': {'Chennai Super Kings': {'2020-09-19': {'fours': '0',
     'runs': '0',
     'sixes': '0'},
    '2020-09-22': {'fours': '0', 'runs': '29', 'sixes': '3'},
    '2020-09-25': {'fours': '2', 'runs': '15', 'sixes': '0'},
    '2020-10-02': {'fours': '4', 'runs': '47', 'sixes': '1'},
    '2020-10-07': {'fours': '1', 'runs': '11', 'sixes': '0'},
    '2020-10-10': {'fours': '0', 'runs': '10', 'sixes': '1'},
    '2020-10-13': {'fours': '2', 'runs': '21', 'sixes': '1'},
    '2020-10-17': {'fours': '0', 'runs': '3', 'sixes': '0'},
    '2020-10-19': {'fours': '2', 'runs': '28', 'sixes': '0'},
    '2020-10-23': {'fours': '2', 'runs': '16', 'sixes': '1'},
    '2020-10-25': {'fours': '3', 'runs': '19', 'sixes': '0'},
    '2020-10-29': {'fours': '0', 'runs': '1', 'sixes': '0'}}},
  '2021': {'Chennai Super Kings': {'2021-04-10': {'fours': '0',
     'runs': '0',
     'sixes': '0'},
    '2021-04-19': {'fours': '2', 'runs': '18', 'sixes': '0'},
    '2021-04-21': {'fours': '2', 'runs': '17', 'sixes': '1'},
    '2021-04-25': {'fours': '0', 'runs': '2', 'sixes': '0'},
    '2021-09-19': {'fours': '0', 'runs': '3', 'sixes': '0'},
    '2021-09-24': {'fours': '2', 'runs': '11', 'sixes': '0'},
    '2021-09-26': {'fours': '0', 'runs': '1', 'sixes': '0'},
    '2021-09-30': {'fours': '1', 'runs': '14', 'sixes': '1'},
    '2021-10-04': {'fours': '0', 'runs': '18', 'sixes': '0'},
    '2021-10-07': {'fours': '2', 'runs': '12', 'sixes': '0'},
    '2021-10-10': {'fours': '3', 'runs': '18', 'sixes': '1'}}},
  '2022': {'Chennai Super Kings': {'2022-03-26': {'fours': '7',
     'runs': '50',
     'sixes': '1'},
    '2022-03-31': {'fours': '2', 'runs': '16', 'sixes': '1'},
    '2022-04-03': {'fours': '1', 'runs': '23', 'sixes': '1'},
    '2022-04-09': {'fours': '0', 'runs': '3', 'sixes': '0'},
    '2022-04-21': {'fours': '3', 'runs': '28', 'sixes': '1'},
    '2022-04-25': {'fours': '1', 'runs': '12', 'sixes': '1'},
    '2022-05-01': {'fours': '1', 'runs': '8', 'sixes': '0'},
    '2022-05-04': {'fours': '0', 'runs': '2', 'sixes': '0'},
    '2022-05-08': {'fours': '1', 'runs': '21', 'sixes': '2'},
    '2022-05-12': {'fours': '4', 'runs': '36', 'sixes': '2'},
    '2022-05-15': {'fours': '0', 'runs': '7', 'sixes': '0'},
    '2022-05-20': {'fours': '1', 'runs': '26', 'sixes': '1'}}}},
 'overall summary': {'average runs': '24.28',
  'fours': '346',
  'maximum runs': '84',
  'minimum runs': '0',
  'sixes': '229',
  'total Player of Match': '17',
  'total matches played': '233',
  'total runs': '4978'}}

In [162]:
#Python
import requests
API_URL =  "https://kousiksasmal.pythonanywhere.com/api/team-record?team=Chennai Super Kings"
response = requests.get(API_URL)
response.json()

{'overall summary': {'number of final match winnings': '4',
  'number of winnings': '121',
  'total final matches played': '9',
  'total matches played': '208'},
 'teamwise summary': {'Deccan Chargers': {'draws': '0',
   'total_matches': '10',
   'winnnings': {'Chennai Super Kings': '6', 'Deccan Chargers': '4'}},
  'Delhi Capitals': {'draws': '0',
   'total_matches': '9',
   'winnnings': {'Chennai Super Kings': '5', 'Delhi Capitals': '4'}},
  'Delhi Daredevils': {'draws': '0',
   'total_matches': '18',
   'winnnings': {'Chennai Super Kings': '12', 'Delhi Daredevils': '6'}},
  'Gujarat Lions': {'draws': '0',
   'total_matches': '0',
   'winnnings': {'Chennai Super Kings': '0', 'Gujarat Lions': '0'}},
  'Gujarat Titans': {'draws': '0',
   'total_matches': '2',
   'winnnings': {'Chennai Super Kings': '0', 'Gujarat Titans': '2'}},
  'Kings XI Punjab': {'draws': '0',
   'total_matches': '23',
   'winnnings': {'Chennai Super Kings': '14', 'Kings XI Punjab': '9'}},
  'Kochi Tuskers Kerala': {'draws': '0',
   'total_matches': '2',
   'winnnings': {'Chennai Super Kings': '1', 'Kochi Tuskers Kerala': '1'}},
  'Kolkata Knight Riders': {'draws': '0',
   'total_matches': '26',
   'winnnings': {'Chennai Super Kings': '17', 'Kolkata Knight Riders': '9'}},
  'Lucknow Super Giants': {'draws': '0',
   'total_matches': '1',
   'winnnings': {'Chennai Super Kings': '0', 'Lucknow Super Giants': '1'}},
  'Mumbai Indians': {'draws': '0',
   'total_matches': '34',
   'winnnings': {'Chennai Super Kings': '14', 'Mumbai Indians': '20'}},
  'Pune Warriors': {'draws': '0',
   'total_matches': '6',
   'winnnings': {'Chennai Super Kings': '4', 'Pune Warriors': '2'}},
  'Punjab Kings': {'draws': '0',
   'total_matches': '4',
   'winnnings': {'Chennai Super Kings': '1', 'Punjab Kings': '3'}},
  'Rajasthan Royals': {'draws': '0',
   'total_matches': '26',
   'winnnings': {'Chennai Super Kings': '15', 'Rajasthan Royals': '11'}},
  'Rising Pune Supergiant': {'draws': '0',
   'total_matches': '0',
   'winnnings': {'Chennai Super Kings': '0', 'Rising Pune Supergiant': '0'}},
  'Rising Pune Supergiants': {'draws': '0',
   'total_matches': '0',
   'winnnings': {'Chennai Super Kings': '0', 'Rising Pune Supergiants': '0'}},
  'Royal Challengers Bangalore': {'draws': '0',
   'total_matches': '29',
   'winnnings': {'Chennai Super Kings': '19',
    'Royal Challengers Bangalore': '10'}},
  'Sunrisers Hyderabad': {'draws': '0',
   'total_matches': '18',
   'winnnings': {'Chennai Super Kings': '13', 'Sunrisers Hyderabad': '5'}}}}